@font-face {
  font-family: "TililliumWeb Light";
  src: url('../fonts/?1415363720');
  src: url('../fonts/?&1415363720#iefix') format('embedded-opentype'), url('../fonts/TitilliumWeb-Light.ttf?1415315974') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TililliumWeb Light";
  src: url('../fonts/?1415363720');
  src: url('../fonts/?&1415363720#iefix') format('embedded-opentype'), url('../fonts/TitilliumWeb-LightItalic.ttf?1415315974') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "TililliumWeb Light";
  src: url('../fonts/?1415363720');
  src: url('../fonts/?&1415363720#iefix') format('embedded-opentype'), url('../fonts/TitilliumWeb-SemiBold.ttf?1415315974') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "TililliumWeb Light";
  src: url('../fonts/?1415363720');
  src: url('../fonts/?&1415363720#iefix') format('embedded-opentype'), url('../fonts/TitilliumWeb-SemiBoldItalic.ttf?1415315974') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "TililliumWeb Regular";
  src: url('../fonts/?1415363720');
  src: url('../fonts/?&1415363720#iefix') format('embedded-opentype'), url('../fonts/TitilliumWeb-Regular.ttf?1415315974') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SourceCode Pro";
  src: url('../fonts/?1415363720');
  src: url('../fonts/?&1415363720#iefix') format('embedded-opentype'), url('../fonts/SourceCodePro-Light.ttf?1415327508') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SourceCode Pro";
  src: url('../fonts/?1415363720');
  src: url('../fonts/?&1415363720#iefix') format('embedded-opentype'), url('../fonts/SourceCodePro-Medium.ttf?1415327508') format('truetype');
  font-weight: bold;
  font-style: normal;
}
/* line 25, ../_sass/screen.scss */
html {
  box-sizing: border-box;
  height: 100%;
}

/* line 31, ../_sass/screen.scss */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* line 38, ../_sass/screen.scss */
body {
  margin: 0;
  background: #f6f6f6;
  color: #111111;
  font-size: 1em;
  font-family: 'TililliumWeb Light', sans-serif;
  height: 100%;
}
/* line 46, ../_sass/screen.scss */
body .page-wrap {
  height: auto;
  min-height: 100%;
}

/* line 53, ../_sass/screen.scss */
a {
  color: #37afa7;
  text-decoration: none;
}
/* line 57, ../_sass/screen.scss */
a:hover {
  color: #1e8e85;
}

/* line 62, ../_sass/screen.scss */
h2, h3, h4 {
  margin: 0;
  font-weight: bold;
}

/* line 68, ../_sass/screen.scss */
h1 {
  margin: 0 0 1em;
  font-weight: normal;
  font-size: 2.125em;
}

/* line 74, ../_sass/screen.scss */
h2 {
  font-size: 1.875em;
}

/* line 78, ../_sass/screen.scss */
h3 {
  font-size: 1.5625em;
}

/* line 82, ../_sass/screen.scss */
h4 {
  font-size: 1.25em;
}

/* line 86, ../_sass/screen.scss */
strong {
  font-weight: bold;
}

/* line 90, ../_sass/screen.scss */
em {
  font-style: italic;
}

/* line 94, ../_sass/screen.scss */
small {
  font-size: 0.875em;
}

/* line 98, ../_sass/screen.scss */
nav,
.nav {
  font-family: 'TililliumWeb Regular', sans-serif;
}

/* line 103, ../_sass/screen.scss */
header {
  background: #111111;
  padding: 3.3em 0 1em;
}
/* line 107, ../_sass/screen.scss */
header .content {
  overflow: visible;
}
/* line 111, ../_sass/screen.scss */
header a {
  color: #f6f6f6;
}
/* line 115, ../_sass/screen.scss */
header .logo {
  float: left;
}
/* line 119, ../_sass/screen.scss */
header nav {
  float: right;
  margin-top: 3em;
  text-transform: uppercase;
}
/* line 125, ../_sass/screen.scss */
header nav a {
  margin-left: 3.7em;
  border-bottom: 2px solid #111111;
}
/* line 129, ../_sass/screen.scss */
header nav a:hover, header nav a:active,
header nav a .active {
  color: #f6f6f6;
  border-bottom: 2px solid #f6f6f6;
}
@media screen and (max-width: 630px) {
  /* line 125, ../_sass/screen.scss */
  header nav a {
    display: block;
  }
}

/* line 142, ../_sass/screen.scss */
.button {
  font-family: 'TililliumWeb Regular', sans-serif;
  background: #37afa7;
  color: #f6f6f6;
  text-transform: uppercase;
  font-size: 0.875em;
  margin: 0;
  border: 0;
  display: block;
  padding: 1em 1.4em 1.1em;
  vertical-align: middle;
  text-align: left;
}
/* line 155, ../_sass/screen.scss */
.button:hover {
  background: #1e8e85;
  color: #f6f6f6;
}
/* line 160, ../_sass/screen.scss */
.button.has-icon {
  position: relative;
  padding-right: 25%;
}

/* line 166, ../_sass/screen.scss */
.icon {
  left: auto;
  top: auto;
  right: 1.2em;
  bottom: auto;
  position: absolute;
}
/* line 173, ../_sass/screen.scss */
.icon img {
  vertical-align: bottom;
  margin-bottom: 0.1em;
}

/* line 179, ../_sass/screen.scss */
.fork {
  display: block;
  position: absolute;
  top: -12px;
  right: 0px;
  padding-left: 1em;
  background: url(../images/icons/fork.png) no-repeat left center;
}

/* line 188, ../_sass/screen.scss */
.page {
  padding: 2em 0 0;
  position: relative;
}

/* line 193, ../_sass/screen.scss */
.content {
  width: 98%;
  max-width: 920px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

/* line 201, ../_sass/screen.scss */
code,
pre {
  font-family: 'SourceCode Pro', 'Courier New';
  font-size: 0.875em;
  background: #e9e9e9;
  color: #111111;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 0.5em 1em 0.4em;
  margin: 0;
  line-height: 1.5em;
  display: block;
}

/* line 214, ../_sass/screen.scss */
ul,
ul li {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* line 222, ../_sass/screen.scss */
.clear {
  clear: both;
  height: 1px;
  overflow: hidden;
  visibility: hidden;
  margin-top: -1px;
}

/* line 229, ../_sass/screen.scss */
.with-nav:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

/* line 241, ../_sass/screen.scss */
.with-nav .text {
  float: right;
  width: 70%;
}
@media screen and (max-width: 630px) {
  /* line 241, ../_sass/screen.scss */
  .with-nav .text {
    float: none;
    width: auto;
  }
}
/* line 251, ../_sass/screen.scss */
.with-nav > .nav {
  margin-top: 5em;
  font-size: 0.9375em;
  line-height: 1.3em;
  float: left;
  width: 30%;
  padding-right: 1em;
}
/* line 259, ../_sass/screen.scss */
.with-nav > .nav li {
  padding: 0.5em 0.4em;
  border: 1px solid transparent;
}
/* line 263, ../_sass/screen.scss */
.with-nav > .nav li.active {
  border: 1px solid #e9e9e9;
}
@media screen and (max-width: 630px) {
  /* line 251, ../_sass/screen.scss */
  .with-nav > .nav {
    margin-top: 0;
    padding-bottom: 1em;
    border-bottom: 1px solid #111111;
    margin-bottom: 1em;
    font-size: 1em;
    float: none;
    width: auto;
  }
  /* line 277, ../_sass/screen.scss */
  .with-nav > .nav li a {
    margin-bottom: 0.5em;
  }
}
/* line 283, ../_sass/screen.scss */
.with-nav .nav .nav {
  padding-left: 1.2em;
}
/* line 287, ../_sass/screen.scss */
.with-nav .nav a {
  display: block;
}

/* line 293, ../_sass/screen.scss */
.hero {
  color: #f6f6f6;
  background: #111111;
}
/* line 297, ../_sass/screen.scss */
.hero h1,
.hero .hero-image img {
  text-align: center;
  max-width: 99.5%;
}
@media screen and (max-width: 630px) {
  /* line 303, ../_sass/screen.scss */
  .hero .hero-image {
    padding-bottom: 4em;
  }
}
/* line 310, ../_sass/screen.scss */
.hero .hero-buttons {
  background: rgba(34, 34, 34, 0.9);
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
/* line 318, ../_sass/screen.scss */
.hero .hero-buttons .content {
  padding-top: 2.55em;
  padding-bottom: 2.6em;
  text-align: center;
}
@media screen and (max-width: 630px) {
  /* line 318, ../_sass/screen.scss */
  .hero .hero-buttons .content {
    padding-top: 1em;
    padding-bottom: 1em;
  }
}
/* line 329, ../_sass/screen.scss */
.hero .hero-buttons .content div {
  margin: 1% 1.77%;
  display: inline-block;
  width: 22%;
}
@media screen and (max-width: 830px) {
  /* line 329, ../_sass/screen.scss */
  .hero .hero-buttons .content div {
    width: 29%;
  }
}
@media screen and (max-width: 630px) {
  /* line 329, ../_sass/screen.scss */
  .hero .hero-buttons .content div {
    display: block;
    width: 60%;
    margin: 1% auto;
  }
}

/* line 347, ../_sass/screen.scss */
footer {
  position: relative;
}
/* line 350, ../_sass/screen.scss */
footer .content {
  padding: 5.4em 0;
}
/* line 354, ../_sass/screen.scss */
footer .copyright {
  font-size: 1.25em;
  float: left;
  width: 45%;
}
@media screen and (max-width: 630px) {
  /* line 354, ../_sass/screen.scss */
  footer .copyright {
    font-size: 1em;
  }
}
/* line 364, ../_sass/screen.scss */
footer .logo {
  text-align: right;
  float: right;
  width: 40%;
}
/* line 370, ../_sass/screen.scss */
footer .logo img {
  margin-top: 3px;
  max-width: 100%;
}
