.section.content-fields
  - if f.object.content
    = f.fields_for :content, f.object.content do |ff|
      = render 'edit.fields', :f => ff, :fields => content_fields_to_display(ff.object.class), :view_prefix => 'edit.field.content'
  .clear
