:ruby
  expanded = (current_admin_user.settings["content.tree.expanded.#{resource.id}"] == true)

%li.row.clearInside{ :class => [(resource.children.empty?) ? nil : 'has-children', ('collapsed' unless expanded)], :data => { :level => level, :id => resource.id } }
  %div.toolbox-cell
    = render 'toolbox', :resource => resource
  - unless resource.children.empty?
    %div.collapser-cell
      %button.secondary.button.collapser.only-icon{ :type => :button }
        %i.fa{class: expanded ? 'fa-chevron-down' : 'fa-chevron-right'}
  %div.node-cell
    %a{:href => url_for(:action => :edit, :id => resource.id)}
      %span
        = resource.name
  - unless resource.children.empty?
    = render 'index.tree_level', :collection => resource.children, :level => level + 1
