%footer
  .tools
    .primary
      - if @features[:create]
        %a.button.primary{ :href => url_for(:controller => controller.controller_name, :action => "new") }
          %i.icon-plus
          = t('create_new_item', :scope => 'admin.global')
    .secondary
      = render :partial => "index.footer.extras"
