%tr.node{ :class => (resource.children.empty?) ? nil : 'has-children', :data => { :level => level, :id => resource.id, :ancestry => ancestry } }
  %td.toolbox-cell
    = render 'toolbox', :resource => resource
  %td
    %span.wrap
      - unless resource.children.empty?
        %button.secondary.button.collapser.only-icon{ :type => :button }
          %i.icon-chevron-up
      %a{:href => url_for(:action => :edit, :id => resource.id)}
        = resource.name
