%table.table.resources{"data-items_per_page" => @resources_per_page, "data-loading" => t("loading", :scope => 'admin.global'), "data-total" => count}
  %tbody.tbody
    = render 'index.tree_level', :resources => @resources, :level => 1, :ancestry => ''
