- old_resource = @resource

- @resource = @resource.content

- (@resource.class.column_names - %w[id created_at]).each do |name|
  - if has_template? "_show.field.#{name}"
    = render "show.field.#{name}", :name => name
  - else
    = render 'show.field', :name => name

- @resource = old_resource
