- unless resource.new_record?
  %li
    %a.button.ajaxbox{:href => url_for( :action => :new, :parent_id => resource.id )}
      %i.icon-large.icon-plus
      = t('Add child', :scope => controller_scope_name)
  %li.go-to
    %a.button.ajaxbox{:href => url_for( :action => :go_to_dialog )}
      %i.icon-large.icon-external-link
      = t('Go to', :scope => controller_scope_name)

  %li
    %a.button.ajaxbox{:href => url_for( :action => :copy_dialog, :id => resource.id )}
      %i.icon-large.icon-copy
      = t('Copy', :scope => controller_scope_name)

  %li
    %a.button{:href => url_for( :action => :move_dialog, :id => resource.id )}
      %i.icon-large.icon-move
      = t('Move', :scope => controller_scope_name)
