%li
  %a.button{:href => url_for( :action => :new, :parent_id => resource.id )}
    %i.icon-large.icon-plus
    = t('Add child', :scope => controller_scope_name)
%li
  %a.button{:href => '#'}
    %i.icon-large.icon-copy
    = t('Copy', :scope => controller_scope_name)
%li
  %a.button{:href => '#'}
    %i.icon-large.icon-move
    = t('Move', :scope => controller_scope_name)