:ruby
  min_items_per_column = 4
  items_per_column = @base_models.length / 2

  if (items_per_column < min_items_per_column)
    items_per_column = min_items_per_column
  end

  base_model_slices = @base_models.each_slice( items_per_column )

.body.dialog.add-child-dialog{ :'data-columns' => base_model_slices.size }
  .header
    = t("add child", :scope => controller_scope_name)
  .content.clearInside
    - base_model_slices.each do |slice|
      %ul.block
        - slice.each do |base_model|
          %li= link_to base_model, new_releaf_node_path(:parent_id => @resource.id, :content_type => base_model.name)
  .footer.clearInside
    %a.button.secondary{ :data => {:type => 'cancel'}, :href => url_for( :action => 'edit', :id => @resource.id ) }
      %i.icon-ban-circle
      %span= t('cancel', :scope => 'admin.global')

