%tr.row{"data-id" => resource.id}
  %td.tools
    %button{:type => "button"}
      %i.icon-large.icon-cog
    .wrapper
      %i.icon-caret-up.icon-large
      %ul.block
        = render :partial => "index.row.tools", :locals => {:resource => resource}
  %td
    %a.main{:href => url_for( :action => :edit, :id => resource.id )}
      %span= resource.scope
