%tr.row{"data-id" => resource.id}
  %td.tools
    %button.trigger{:type => "button", :title => t('Tools', :scope => 'admin.global') }
      %i.icon-large.icon-cog
    .toolbox
      %i.icon-caret-up.icon-large
      %ul.block
        = render :partial => "index.row.tools", :locals => {:resource => resource}
  %td
    %a.main{:href => url_for( :action => :edit, :id => resource.id )}
      %span= resource.scope
