.inner.standard_submenu
  %ul.block
    %li
      .section_title= t('translations', :scope => 'admin.releaf_translations')
      %ul
        %li{:class=> params[:id].blank? ? "active" : ""}
          %a{:href => releaf_translation_groups_path}= t('all_translations', :scope => 'admin.releaf_translations')
    %li
      .section_title= t('groups', :scope => 'admin.releaf_translations')
      %ul
        - @groups.each do |group|
          %li{:class=> !params[:id].blank? && params[:id].to_i == group.id ? "active" : ""}
            %a{:href => edit_releaf_translation_group_path(group.id)}= group.scope
