- unless resource.new_record?
  %li
    %a.button{:href => url_for(:action => 'export', :id => resource.id, :format => 'xlsx')}
      %i.icon-large.icon-download
      = t('Export', :scope => controller_name)
