.container
  .login-box
    .logo
    = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "login-form" } ) do |f|
      .control-group
        %label.control-label E-mail
        = f.email_field :email, :autofocus => "autofocus"

      .control-group
        %label.control-label Password
        = f.password_field :password

      .control-group
        %button{:type => "submit"} Sign in