.body.error
  %h1.error
    %i.fa.fa-lg.fa-exclamation-triangle
    = message
  - if defined? description
    %div.description
      = description
  %a.return{ :href => releaf_root_path }
    = t('Go home', :scope => 'admin.global')
    %i.fa.fa-chevron-right
