= render 'releaf/error_pages/error', message: t('%{feature} feature disabled for %{controller}', feature: @feature, controller: controller_name,  scope: controller_scope_name, default: '%{feature} feature disabled for %{controller}')
