= render 'releaf/error_pages/error', message: t('Page not found', scope: controller_scope_name), description: t('You may have mistyped the address or the page may have moved.', scope: controller_scope_name)
