.field.type_date{ 'data-name' => name }
  .label_wrap><
    = @f.label name, name.humanize + ':'
    .description= I18n.t("field.Format %{_format}", :default => "Format: %{_format}", :_format => I18n.t("format.input.date", :default => 'yyyy-mm-dd'))
  .value><= @f.text_field name, :class => 'date_picker', :data => {:date_format => I18n.t("format.jquery.datepicker.date", :default => 'yy-mm-dd') }
  .clear
