-# .inner.standard_submenu
-#   %ul.block
-#     - menu.each do |section_key, section|
-#       %li
-#         .section_title= t(section_key, :scope => "admin.base_menu")
-#         %ul
-#           - section.each do |item|
-#             %li{:class => ("active" if item[:controller] == controller.class.name.underscore.sub(/_controller$/, '')) }
-#               %a{:href => url_for(:controller => item[:controller], :action => "index") }=t(item[:controller], :scope => "admin.base_menu")
