.breadcrumbs
{
    @include block-list;
    padding: 14px 0px;
    border-bottom: 1px solid $color-border-light;

    li
    {
        display: inline-block;

        i
        {
            padding: 0px 8px;
            font-size: 10px;
        }
    }

    a
    {
        position: relative;
        z-index: 100;
        font-size: 1em;
        color: inherit;
        text-decoration: none;

        &:hover
        {
            text-decoration: none;
            color: $color-highlight-darker;
        }
    }

}

