.breadcrumbs
{
    @include block-list;
    @include font-size-larger;
    padding: steps(1) 0px;
    border-bottom: 1px solid $color-border-light;
    margin-bottom: -1px;

    li
    {
        display: inline;

        a
        {
            position: relative;
            z-index: 100;
            vertical-align: top;
            padding: 0 steps(1);

            color: inherit;
            text-decoration: none;

            &:hover,
            &:focus
            {
                color: $color-highlight-darker;
            }
        }

        &:first-child
        {
            a
            {
                padding-left: 0;
            }
        }

        .fa
        {
            @include icon-small;
            vertical-align: top;
            position: relative;
            top: 1px;
        }

    }

}

