// full page errors (access denied, feature disabled etc)

section.error
{
    .description
    {
        color: $color-text-lighter;
        @include font-size-larger;
        margin: lines(1.5) 0;
    }

    a.return
    {
        text-decoration: none;
    }

    &:not(.dialog) > .body
    {
        border: none;
    }
}


