body > header
{
    @include inverted( $background-color: $color-background-inverted-darkest );
    @include font-size-larger;

    text-align: right;

    .home
    {
        display: block;
        text-decoration: none;
        float: left;
        margin: 13px 0 0 13px;
    }

    .profile,
    form.sign-out
    {
        display: inline-block;
        margin-left: 1px;
        vertical-align: top;
    }

    .profile
    {
        position: relative;
        text-decoration: none;
        height: 20px;
        text-align: right;
        border-left: 1px solid $color-border-inverted-normal;
        padding: 20px 30px;
    }

    form.sign-out button
    {
        position: relative;
        width: 60px;
        height: 60px;
        border-left: 1px solid $color-border-inverted-normal;

        .fa
        {
            @include icon-large;
        }
    }

}


