// main layout
// :TODO: see whether the main layout can be done with flexbox
body > header
{
    background: $color-background-inverted-darkest;
    color: $color-text-inverted-lightest;
    height: 60px;
    position: relative;
    z-index: 10;
}

body > aside,
main
{
    position: relative;
    min-height: 100%;
}

main
{
    display: block;  /* as of now, not all rendering engines recognize the main element as a block */
    position: relative;
    padding: 0 40px 50px 280px;
    z-index: 1;
}

