section
{
    position: relative;

    header h1
    {
        font-family: 'robotoregular';
        font-weight: normal;
        font-size:   20px;
    }

    > form .body
    {
        padding-bottom: 30px;
    }
}

section.nested,
section:not(.nested) > .body,
section > form > .body
{
    @include clear-inside;
}

section:not(.nested),
section > form
{
    > header
    {
        color: $color-text-inverted-lightest;
        background-color: $color-background-inverted-normal;
        padding: 5px 17px;
        margin-top: 20px;
        position: relative;

        .extras
        {
            font-size: 13px;
            position: absolute;
            right: 0px;
            top: 0px;

            &.totals
            {
                margin: 10px 17px;
            }
        }

        .toolbox .trigger
        {
            height: 40px;
            width: 40px;
            text-align: center;
            line-height: 40px;
            padding: 0;
            background: $color-background-inverted-normal;
        }
    }

}

section:not(.nested):not(.dialog),
section:not(.dialog) > form
{
    > .body
    {
        border-width: 0 1px 1px 1px;
        border-style: solid;
        border-color: $color-border-normal;
    }
}

