*
{
    @include reset-font;
}

html
{
    @include body-font;
    @include font-size-normal;

    -webkit-text-size-adjust: 100%;
       -moz-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
}


// :TODO: unify font-sizes/line-heights throughout releaf,
// so that font-size/line-height changes can be restricted to using a few predefined mixins
// such as heading-text, small-text etc

h1, h2, h3, h4, h5, h6, p
{
    font-size:   inherit;
    font-weight: inherit;
}

h1, h2, h3, h4, h5, h6
{
    margin: 0;
    padding: 0;
}

p
{
    margin-top: 0;
}
