.toolbox
{
    .trigger
    {
        display: inline-block;
        padding: 5px;
        color: $color-highlight-normal;

        &,
        &:hover
        {
            background-color: transparent;
        }

        // :TODO: turn this around. instead of rendering the triggers as disabled,
        // add "initialized" class to toolboxes after js is done - same pattern as with dialogs.
        &[disabled]
        {
            color: $color-text-lightest;
        }

    }
}


.toolbox-items
{
    @include pop-up-menu;

    min-width: 170px;
    margin: -3px 0 0 2px;

    > ul
    {
        @include inverted;
        top: -16px;

        .button
        {
            &:hover
            {
                background-color: $color-highlight-normal;
            }
        }
    }

    li:not(:last-child) .button
    {
        border-bottom: 1px solid $color-border-inverted-lighter;
    }

}


.toolbox-overlay
{
    @include full-screen-overlay;
}


