/* Breadcrumbs */

main .breadcrumbs
{
    padding: 14px 0px;
    border-bottom: 1px solid #e6e6e6;
}

main .breadcrumbs > li
{
    display: inline-block;
}

main .breadcrumbs > li a
{
    position: relative;
    z-index: 100;
    font-size: 1em;
    color: #000;
    text-decoration: none;
}

main .breadcrumbs > li a:hover
{
    text-decoration: none;
    color: #42690d;
}

main .breadcrumbs > li i
{
    padding: 0px 8px;
    font-size: 10px;
}