/* releaf buttons */
.button
{
    cursor:pointer;
    display: inline-block;
    background: $color-highlight-normal;
    color: $color-text-inverted-lightest;

    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 17px;

    text-decoration: none;
    position: relative;
}
.tools .primary .button
{
    margin-left: 2px;
}
.tools .secondary .button
{
    margin-right: 2px;
}

.button i
{
    padding-right: 9px;
}

.button.only-icon i
{
    padding-right: 0;
}

.button:hover,
.button:focus,
.button:active
{
    background: $color-highlight-darker;
    text-decoration: none;
}

.button.secondary
{
    background: $color-background-darker;
    color: $color-text-lighter;
}

.button.secondary:hover,
.button.secondary:focus,
.button.secondary:active
{
    background: $color-background-darkest;
    color: $color-text-light;
}

.button.danger:hover,
.button.danger:focus,
.button.danger:active
{
    background: $color-alert;
}

.button[disabled],
.button[disabled]:hover,
.button[disabled]:focus,
.button[disabled]:active
{
    color: $color-text-lightest;
    background-color: $color-background-darker;
    cursor: default;
}


.button.loading
{

}

.button.loading *
{
    visibility: hidden;
}

.button.loading .loader
{
    visibility: visible;
    padding: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -0.5em;
    margin-top:  -0.5em;
}



/* form controls */
.label-wrap
{
    padding: 5px 0;
}

select,
textarea,
input[type="email"],
input[type="text"],
input[type="number"],
input[type="password"]
{
    color: $color-text-normal;
    background-color: $color-background-lighter;
    border: 1px solid $color-border-normal;
    outline: none;
    font-weight: bold;
    font-size: 13px;
}

input[type="email"],
input[type="text"],
input[type="number"],
input[type="password"]
{
    padding: 0 9px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 35px;
}

textarea
{
    padding: 8px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

select
{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 35px;
    padding: 7px 0 7px 7px;
}

select option
{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 0 0 7px;
}

textarea:hover,
select:hover,
input[type="email"]:hover,
input[type="text"]:hover,
input[type="number"]:hover,
input[type="password"]:hover
{
    border: 1px solid $color-border-darker;
}

textarea:focus,
select:focus,
input[type="email"]:focus,
input[type="text"]:focus,
input[type="number"]:focus,
input[type="passwod"]:focus
{
    background-color: $color-background-lightest;
    border: 1px solid $color-border-darkest;
}
