.ui-datepicker.ui-widget
{
    font-family: inherit;
    font-size: 100%;
    padding: 0;
    border: 0;
    width: auto;
}

.ui-datepicker.ui-widget select
{
    font-family: inherit;
}

.ui-datepicker.ui-widget .ui-corner-all
{
    border-radius: 0;
}

#ui-datepicker-div
{
    background-color: $color-background-lightest;
    box-shadow: 1px 3px 5px 0px $color-shadow-normal;
}

.ui-datepicker .ui-datepicker-header
{
    background: $color-background-inverted-darker;
    height: 38px;
    border: none;
    padding: 0;
}

.ui-datepicker-header .ui-datepicker-next, .ui-datepicker-header .ui-datepicker-prev
{
    top: 0;
    display: block;
    width: 39px;
    height: 38px;
    line-height: 38px;
    color: $color-text-inverted-lightest;
    text-align: center;
    text-decoration: none;
    border: none;
}
.ui-datepicker-header .ui-datepicker-next:hover,
.ui-datepicker-header .ui-datepicker-prev:hover
{
    background: $color-background-inverted-lightest;
    color: $color-highlight-normal;
    text-decoration: none;
}
.ui-datepicker-header .ui-datepicker-prev
{
    left: 0;
}
.ui-datepicker-header .ui-datepicker-next
{
    right: 0;
}
.ui-datepicker-header .ui-datepicker-next span,
.ui-datepicker-header .ui-datepicker-prev span
{
    display: none;
}
.ui-datepicker-header .ui-datepicker-title
{
    text-align: center;
    font-size: 1.215em;
    color: $color-text-inverted-lightest;
}
.ui-datepicker-header .ui-datepicker-title select
{
    width: auto;
    margin: 2px;
    font-size: 0.824em;
}
.ui-datepicker-calendar
{
    border-collapse: collapse;
}
.ui-datepicker-calendar thead
{
    color: $color-text-lighter;
    background-color: $color-background-normal;
    border: 1px solid $color-border-light;
}
.ui-datepicker-calendar thead th
{
    font-weight: normal;
    font-size: 0.64286em;
    text-transform: uppercase;
    line-height: 1em;
    padding: 7px 11px 6px;
}
.ui-datepicker table
{
    margin: 0;
    font-size: inherit;
}
.ui-datepicker-calendar td
{
    border: 1px solid $color-border-normal;
    text-align: center;
    vertical-align: middle;
    padding: 6px 11px;
}
.ui-datepicker .ui-datepicker-calendar td a
{
    display: inline;
    color: $color-text-darkest;
    border: 0;
    text-decoration: none;
    text-align: center;
    font-size: 0.93em;
    font-weight: bold;
    line-height: 1em;
    background: 0;
    padding: 0;
}
.ui-datepicker-calendar td.ui-datepicker-current-day
{
    background-color: $color-background-darker;
}
.ui-datepicker-calendar td.ui-datepicker-current-day:hover,
.ui-datepicker-calendar td:hover
{
    background-color: $color-highlight-normal;
    text-shadow: 0px -1px 1px $color-shadow-normal;
}
.ui-datepicker-calendar td:hover a
{
    color: $color-background-lightest;
}

.ui-datepicker-div
{
    z-index: 10;
}

.ui-timepicker-div > dl
{
    margin: 8px 0 0 0;
}
.ui-timepicker-div .ui_tpicker_time_label,
.ui-timepicker-div .ui_tpicker_minute_label,
.ui-timepicker-div .ui_tpicker_hour_label
{
    margin-left: 5px;
    display: inline-block;
    font-size: 10px;
    text-transform: uppercase;
}

.ui-timepicker-div .ui_tpicker_time,
.ui-timepicker-div .ui_tpicker_hour,
.ui-timepicker-div .ui_tpicker_minute
{
    display: inline-block;
    margin: 0 0 0 2px;
    font-weight: bold;
}

.ui-timepicker-div .ui_tpicker_minute
{
    margin-right: 5px;
}
