/* dialog */

.dialog
{
    margin: 0 auto;
    background-color: white;
    box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.6);
}

main .dialog
{
    margin-top: 40px;
}

.dialog header
{
    padding-right: 50px;
}

.dialog section.body
{
    position: relative;
}

.dialog footer
{
    position: relative;
    background-color: #d9d9d9;
    border-top: #c5c5c5 1px solid;
    text-align: right;
}

.dialog footer form
{
    display: inline-block;
}

.dialog footer .button.secondary
{
    border-left: #c5c5c5 1px solid;
}

.ajaxbox-inner .dialog header
{
    margin-top: 0;
}

.ajaxbox-inner .dialog header .close,
.ajaxbox-inner > .close
{
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
}
.ajaxbox-inner > .close
{
    top: 40px;
}


/* ui-dialog */
.ui-widget-overlay
{
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 90;
}

.ui-dialog
{
    background-color: white;
    box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.6);
    max-width: 700px;
    z-index: 100;
}

.ui-dialog > .ui-dialog-titlebar
{
    background: black;
    height: 38px;
    position: relative;
}

.ui-dialog > .ui-dialog-titlebar .ui-dialog-title
{
    font-size: 1.215em;
    color: white;
    line-height: 38px;
    padding-left: 15px;
    margin-right: 55px;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

.ui-dialog > .ui-dialog-titlebar .ui-dialog-titlebar-close
{
    float: right;
    display: block;
    width: 39px;
    height: 38px;
    line-height: 38px;
    color: #34958d;
    text-align: center;
    text-decoration: none;
    border-left: 1px solid #515151;
    display: block;
    position: absolute;
    font-size: 1.142em;
    right: 0px;
    top: 0px;
}

.ui-dialog > .ui-dialog-titlebar .ui-dialog-titlebar-close:hover
{
    background-color: #3a3a3a;
    color: #37b1a7;
    text-decoration: none;
}


/* confirm_destroy and refused_destroy dialogs */

.dialog.confirm,
.dialog.refused-destroy

{
    width: 390px;
}

.dialog.confirm .body,
.dialog.refused-destroy .body

{
    padding: 37px 10px 55px;
    text-align: center;
}

.dialog.confirm .body i,
.dialog.refused-destroy .body i
{

    display: block;
    margin: 0 auto;
    border-radius: 40px;
    width: 50px;
    background-color: #d4d4d4;
    color: white;
    font-size: 3.57em;
    padding: 9px;
    text-align: center;
    line-height: 1em;
    margin-bottom: 22px;
}

.dialog.confirm .body .question
{
    font-size: 2.2857em;
    line-height: 1.25em;
    margin-bottom: 40px;
    font-family: 'robotoregular';
    font-weight: normal;
}

.dialog.confirm.confirm-destroy .body .description
{
    color: #37b1a7;
    font-size: 1em;
    line-height: 1.4em;
    font-weight: bold;
}

.dialog.refused-destroy .body .restricted-relations
{
    margin-top: 10px;
    overflow-y: auto;
    color: #37b1a7;
    font-size: 1em;
    line-height: 1.4em;
    font-weight: bold;
}
