section.error
{
    font-family: 'robotoregular';
}
section.error h1
{
    font-size: 32px;
    position: relative;
    padding-left: 40px;
}

section.error h1 i
{
    color: #ef3d64;
    font-size: 25px;
    position: absolute;
    left: 0px;
    top: 17px;
    margin-bottom: 11px;
}

section.error .description
{
    color: #616161;
    font-size: 14px;
    line-height: 25px;
    margin: 18px 0;
}

section.error a.return
{
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}

body section.error:not(.dialog) > .body
{
    border-style: none;
}
