/* main page footer is the last footer element in the first section directly under main */
main > section footer:nth-last-of-type(1)
{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 40px 0px 280px;
    z-index: 10;
    background: #fff;
}

.side-compact main > section footer:nth-last-of-type(1)
{
    margin-left: 80px;
}

main > section footer:nth-last-of-type(1) .tools
{
    height: 40px;
    background: #e6e6e6;
    color: #818181;
    border: 1px solid #c5c5c5;
    border-bottom: 0;
}

main > section footer:nth-last-of-type(1) .tools > .primary
{
    float: right;
}

main > section footer:nth-last-of-type(1) .tools > .secondary
{
    float: left;
}

main > section footer:nth-last-of-type(1) .tools
{
    height: 40px;
}
