/*
    main page footer is the last footer element in the first section directly under main
    it may be wrapped inside a form
    so an extra class is needed
*/

footer.main
{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 40px 0px 280px;
    z-index: 10;
    background: #fff;
}

.side-compact footer.main
{
    margin-left: 80px;
}

footer.main .tools
{
    height: 40px;
    background: #e6e6e6;
    color: #818181;
    border: 1px solid #c5c5c5;
    border-bottom: 0;
    height: 40px;
}

footer.main .tools > .primary,
footer.main .tools .secondary
{
    position: relative;
    z-index: 2;
}

footer.main .tools > .primary
{
    float: right;
}

footer.main .tools > .secondary
{
    float: left;
}

footer.main .tools input,
footer.main .tools select
{
    margin-right: 22px;
}




