/* form and field layouts */
section form,
section form > footer
{
    max-width: 920px;
}

.side-compact section:not(.dialog) form > footer
{
    margin-left: 80px;
}


/* field styles */
.field
{
    padding: 8px 0;
    float: left;
    width: 410px;
    position: relative;
    min-height: 66px;
    margin-left: 30px;
}

.field.type-boolean .value
{
    padding-top: 35px;
}

.field.type-associated-set
{
    width: auto;
    margin-right: 0;
}

.field.type-associated-set .type-associated-set-item
{
    float: left;
    width: 250px;
}

.field.type-richtext,
.field.type-richtext textarea
{
    width: 854px;
}

.field.type-richtext,
.field.type-textarea
{
    float: none;
    clear: both;
}

.field label
{
    font-size: 13px;
}

.field .label-wrap .description
{
    font-size: 11px;
}

.field .value
{
    position: relative;
}

.field .value .error-box
{
    position: absolute;
    right: 4px;
    bottom: -20px;
    color: #f00a0a;
    font-size: 11px;
    font-style: italic;
}

/* association fieldset styling */
form fieldset
{
    border: 1px solid #d4d4d4;
    padding: 0 0 20px 0;
    margin: 30px;
    clear: both;
}


/* form field input styling */

.field
{
    input[type="email"],
    input[type="text"],
    input[type="password"],
    textarea,
    select
    {
        box-sizing: border-box;
        width: 100%;
    }
}

.field.has-error:not(.i18n),
.field.i18n.has-error .localization.has-error
{
    select,
    input[type="email"],
    input[type="text"],
    input[type="password"],
    textarea,
    .mceLayout
    {
         border: 1px solid #f00a0a;
    }
}

.form-error-box
{
    border: 1px solid #D4D4D4;
    padding: 15px 25px;
    margin: 0px;
    color: #f00a0a;
    background-color: #FAF0F0;
    border-top: none;
    border-bottom: none;
}


/* nested fields */
section.nested
{
    clear: both;
    padding: 30px;
}

section.nested h1
{
    margin-bottom: 18px;
}

section.nested section.nested
{
    padding-right: 0px;
}

section.nested .list .item.item:not(tr)
{
    border: 1px solid #d4d4d4;
    padding: 30px 0;
    margin: 0 0 20px 0;
    position: relative;
    background: #fff;
}

section.nested .list .item.template
{
    display: none;
}

section.nested .list .item:not(tr):after
{
    content: '\00a0';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

section.nested .list[data-sortable] .item
{
    padding-top: 30px;
}

section.nested .list[data-sortable] .item .handle
{
    position: absolute;
    background: #ddd;
    height: 35px;
    left: 0;
    right: 0;
    top: 0;
    cursor: pointer;
}

section.nested .remove-item-box
{
    position: absolute;
    right: -1px;
    top: -1px;
    width: auto;
}

section.nested .remove-item-box .button
{
    padding: 8px 11px;
}

section.nested .field
{
    width: 380px;
}

section.nested .field.type-richtext,
section.nested .field.type-richtext textarea
{
    width: 790px;
}

section.nested section.nested .field
{
    width: 340px;
}

section.nested section.nested .field.type-richtext,
section.nested section.nested .field.type-richtext textarea
{
    width: 720px;
}










