body > header
{
    text-align: right;
}

body > header .home
{
    display: block;
    text-decoration: none;
    float: left;
    margin: 13px 0 0 13px;
}

body > header .profile,
body > header form.sign-out
{
  display: inline-block;
  margin-left: 1px;
  vertical-align: top;
}


body > header .profile
{
    position: relative;
    text-decoration: none;
    height: 20px;
    text-align: right;
    color: $color-text-inverted-normal;
    border-left: 1px solid $color-border-inverted-normal;
    padding: 20px 30px;
}

body > header .profile:hover
{
    background-color: $color-background-inverted-normal;
    color: $color-text-inverted-lightest;
}



body > header form.sign-out button
{
    position: relative;
    background-color: $color-background-inverted-normal;
    color: $color-highlight-normal;
    width: 60px;
    height: 60px;
}

body > header form.sign-out button:hover
{
    background-color: $color-highlight-normal;
    color: $color-background-inverted-normal;
}

body > header form.sign-out button i
{
    font-size: 18px;
}
