body > header
{
    text-align: right;
}

body > header .home
{
    display: block;
    text-decoration: none;
    float: left;
    margin: 13px 0 0 13px;
}

body > header .profile,
body > header form.sign-out
{
  display: inline-block;
  margin-left: 1px;
  vertical-align: top;
}


body > header .profile
{
    position: relative;
    text-decoration: none;
    height: 20px;
    text-align: right;
    color: #d8d8d8;
    border-left: 1px solid #242424;
    padding: 20px 30px;
}

body > header .profile:hover
{
    background-color: #242424;
    color: #fff;
}



body > header form.sign-out button
{
    position: relative;
    background-color: #242424;
    color: #37b1a7;
    width: 60px;
    height: 60px;
}

body > header form.sign-out button:hover
{
    background-color: #37b1a7;
    color: #242424;
}

body > header form.sign-out button i
{
    font-size: 18px;
}
