.localization:not(.active)
{
    display: none;
}

.localization-switch
{
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 13px;
}

.localization-switch .trigger
{
    display: inline-block;
    padding: 4px 9px 4px 11px;
    border: 1px solid $color-border-normal;
    background: $color-background-lighter;
    color: $color-text-normal;
    text-transform: uppercase;
}

.localization-switch .trigger i
{
    color: $color-highlight-darkest;
    margin-left: 9px;
}

.localization-switch .trigger:hover
{
    border-color: $color-border-darker;
}

.localization-switch .trigger:focus,
.localization-switch .trigger:active
{
    background-color: $color-background-darkest;
    border-color: $color-background-darkest;
    color: $color-text-normal;
}


.localization-menu-items
{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
    z-index: 100;
    border: 1px solid $color-border-normal;

    box-shadow: 0 0 2px 2px rgba(0,0,0,0.1);
}

.localization-menu-items > ul
{
    position: relative;
}

.localization-menu-items button
{
    display: block;
    background: $color-background-lightest;
    white-space: nowrap;

    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    text-align: left;

    text-transform: uppercase;
    font-size: 14px;
    padding: 7px 26px;
}


.localization-menu-items button:hover
{
    background: $color-background-normal;
}

.localization-menu-overlay
{
    position: absolute;

    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    z-index: 90;

    display: none;
}

