/* main content block, sections, headers, bodies, footers */
header h1
{
    font-family: 'robotoregular';
    font-weight: normal;
    font-size: 20px;
}

section
{
    position: relative;
}

section:not(.nested) > header,
section > form > header
{
    color: #fff;
    background-color: #282828;
    padding: 5px 17px;
    margin-top: 20px;
    position: relative;
}

section:not(.nested) > header .extras,
section > form > header .extras
{
    font-size: 13px;
    position: absolute;
    right: 0px;
    top: 0px;
}

section:not(.nested) > header .extras.totals ,
section > form > header .extras.totals
{
    margin: 10px 17px;
}

section:not(.nested) > header .toolbox .trigger,
section > form > header .toolbox .trigger
{
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    padding: 0;
    background: #282828;
}








section:not(.nested):not(.dialog) > .body,
section:not(.dialog) > form > .body
{
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #d4d4d4;
}

section > form > .body
{
    padding-bottom: 30px;
}

section:not(.nested) > .body:after,
section > form > .body:after,
section.nested:after
{
    content: '\00a0';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}





