/* notifications */

body > .notifications
{
    position: fixed;
    z-index: 60;
    top: -5px;
    left: 30%;
    width: 40%;
}

body > .notifications .notification
{
    position: relative;

    background: #F8F8F8;
    color: #636363;

    border-radius: 0;
    padding: 7px 35px 0 14px;
    margin-top: 15px;
    text-shadow: none;
    line-height: 24px;

    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}

body > .notifications .notification[data-type="success"]
{
    background-color: #ddf4d0;
    color: #468847;
}

body > .notifications .notification[data-type="error"]
{
    background-color: #eed3d7;
    color: #b94a48;
}

body > .notifications .notification > .icon
{
    float: left;
    margin-left: 10px;
}

body > .notifications .notification > .content
{
    margin-left: 40px;
    margin-right: 30px;
    padding-bottom: 9px;
    text-align: center;
}

body > .notifications .notification > .close
{
    position: absolute;
    right: 0;
    top: 0;
}


.flash
{
    display: none;
}


