.pagination
{
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
}

.pagination > .button
{
    padding: 10px 16px;
    display: inline-block;
    border-left: 1px solid #c5c5c5;
    border-right: 1px solid #c5c5c5;
}

.pagination > .button i
{
    padding-right: 0px;
}

.pagination > .button:hover
{
    color: #307872;
}

.pagination > .button[disabled]:hover
{
    color: #c5c5c5;
}

.pagination .pages
{
    display: inline-block;
    padding: 5px 4px 0px;
    width: 96px;
    vertical-align: top;
}

.pagination .pages > select
{
    width: 96px;
    margin: 0px;
}
