form.search
{
    min-height: 20px;
    border-bottom: 2px solid $color-border-light;
}

form.search.has-text-search
{
    position: relative;
    margin-top: -29px;
}
form.search.has-extra-search
{
    border-bottom: none;
}

form.search .text-search
{
    float: right;
}

form.search .text-search input[type="text"]
{
    color: $color-text-lightest;
    font-weight: normal;
    padding: 0 25px 0 10px;
    width: 210px;
    height: 28px;
    border: 1px solid $color-border-light;
}

form.search .text-search input[name="search"]
{
    border: 2px solid $color-border-light;
    border-bottom: none;
}

form.search .text-search .button
{
    position: absolute;
    right: 0;
    top: 0;
    background: transparent;
    padding: 5px 10px;
    color: $color-highlight-normal;
}

form.search .text-search .button:hover
{
    color: $color-text-light;
}

form.search .extras
{
    border: 1px solid $color-border-light;
    border-top: none;
    background-color: $color-background-lighter;
    padding: 23px;
    clear: both;
    border-top: 2px solid $color-border-light;
}

form.search .extras button
{
    padding: 6px 17px;
}

form.search .extras input,
form.search .extras select
{
    width: 135px;
    font-size: 13px;
    font-weight: normal;
    margin-right: 22px;
}

form.search .extras input[type="checkbox"],
form.search .extras input[type="radio"]
{
    width: auto;
}
