body > aside
{
    background: #1d1d1d;
    color: #d3d3d3;
    position: absolute;
    width: 240px;
    left: 0;
    top: 0;
    z-index: 5;
}

body > aside > *:first-child
{
    padding-top: 60px;
}

body > aside > nav
{
    margin-bottom: 50px;
}

body > aside nav li
{
    border-bottom: 1px solid #282828;
    position: relative;
}

body > aside nav li .collapser
{
    position: absolute;
    right: 0;
    top: 0;
    color: #4a4a4a;
}

body > aside nav li .collapser button
{
    padding: 0;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: block;
}


body > aside nav li li
{
    background: #282828;
    border-bottom: none;
}

body > aside nav li .trigger
{
    color: #d3d3d3;
    display: block;
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 40px 10px 13px;
}

body > aside nav li .trigger.active-item i
{
    display: inline;
    width: auto;
}

body > aside nav li .trigger i
{
    display: inline-block;
}

body > aside nav > ul > li > .trigger:hover
{
    background-color: #050505;
    color: #fff;
}

body > aside nav .trigger:hover
{
    color: #fff;
}

body > aside nav > ul > li > .trigger:hover .collapser
{
    color: #929292;
}

body > aside nav > ul > li.active > .trigger
{
    background-color: #37b1a7;
    color: #111111;
}

body > aside nav > ul > li.active > .trigger .collapser
{
    color: #111111;
}

body > aside nav > ul > li > .trigger > .name
{
    padding: 0 0 0 8px;
}

body > aside nav li li .trigger
{
    color: #a6a6a6;
    position: relative;
    padding: 4px 40px 5px 50px;
}

body > aside nav li li:first-child .trigger
{
    padding-top: 10px;
}

body > aside nav li li:last-child .trigger
{
    padding-bottom: 14px;
}

body > aside nav li li .trigger i
{
    position: absolute;
    top: 7px;
    right: 0px;
    display: none;
}

body > aside nav li li .trigger.active-item
{
    color: #ffffff;
    background: #383838;
}

body > aside nav li li .trigger.active-item i
{
    display: block;
    position: absolute;
    right: -1px;
    top: 1px;
    font-size: 28px;
}

body > aside nav li li:first-child .trigger.active-item i
{
    top: 6px;
}


body > aside nav li.collapsed ul
{
    display: none;
}




/* menu hiding and compacting stuff */

body > aside .compacter
{
    text-align: right;
    border-bottom: 1px solid #282828;
}

body > aside .compacter button
{
    padding: 0;
    height: 39px;
    width: 45px;
    background: #171717;
}

body > aside .compacter button:hover
{
    background: #282828;
}

body > aside .compacter .toggle-angle-icon
{
    color: #37b1a7;
    font-size: 20px;
}

/* compact sidebar stuff */
body.side-compact > aside
{
    width: 40px;
}

body.side-compact > aside .compacter button
{
    width: 40px;
}

.side-compact > main
{
    padding-left: 80px;
}

body.side-compact > aside nav li .name,
body.side-compact > aside nav li .collapser
{
    display: none;
}

body.side-compact > aside nav li .trigger
{
    padding-right: 20px;
}

body.side-compact > aside nav > ul > li.open > .trigger .name
{
    position: absolute;
    top: 0;
    left: 40px;
    height: 30px;
    width: 227px;
    padding: 9px 0 0 14px;
    display: block;
    background: #000;
}

body.side-compact > aside nav > ul > li.open > .trigger
{
    background-color: #050505;
    color: #fff;
}

body.side-compact > aside nav > ul > li.active > .trigger,
body.side-compact > aside nav > ul > li.active > .trigger .name
{
    background-color: #37b1a7;
}

body.side-compact > aside nav > ul > li.open > ul
{
    position: absolute;
    top: 39px;
    left: 41px;
    width: 240px;
    display: block;
    background: #000;
}

body.side-compact > aside nav > ul > li > ul
{
    display: none;
}

body.side-compact > aside nav > ul > li.open > ul .name
{
    display: block;
}

body > .side-compact-overlay
{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: none;
}
