body > aside
{
    background: $color-background-inverted-darker;
    color: $color-text-inverted-normal;
    position: absolute;
    width: 240px;
    left: 0;
    top: 0;
    z-index: 5;
}

body > aside > *:first-child
{
    padding-top: 60px;
}

body > aside > nav
{
    margin-bottom: 50px;
}

body > aside nav li
{
    border-bottom: 1px solid $color-border-inverted-normal;
    position: relative;
}

body > aside nav li .collapser
{
    position: absolute;
    right: 0;
    top: 0;
    color: $color-background-inverted-lightest;
}

body > aside nav li .collapser button
{
    padding: 0;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: block;
}

body > aside nav li li
{
    background: $color-background-inverted-normal;
    border-bottom: none;
}

body > aside nav li .trigger
{
    color: $color-text-inverted-normal;
    display: block;
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 40px 10px 13px;
}


body > aside nav > ul > li > .trigger:hover
{
    background-color: $color-background-inverted-darkest;
    color: $color-text-inverted-lightest;
}

body > aside nav .trigger:hover
{
    color: $color-text-inverted-lightest;
}

body > aside nav > ul > li > .trigger:hover .collapser
{
    color: $color-text-inverted-darker;
}

body > aside nav > ul > li.active > .trigger
{
    background-color: $color-highlight-normal;
    color: $color-text-darkest;
}

body > aside nav > ul > li.active > .trigger .collapser
{
    color: $color-text-darkest;
}

body > aside nav .trigger > abbr
{
    display: none;
}

body > aside nav > ul > li > .trigger > .name
{
    padding: 0;
}

body > aside nav li li .trigger
{
    color: $color-text-inverted-darker;
    position: relative;
    padding: 4px 40px 5px 40px;
}

body > aside nav li li:first-child .trigger
{
    padding-top: 10px;
}

body > aside nav li li:last-child .trigger
{
    padding-bottom: 14px;
}

body > aside nav li li.active > .trigger
{
    color: $color-text-inverted-lightest;
    background: $color-background-inverted-lightest;
}

body > aside nav li.collapsed ul
{
    display: none;
}




/* menu hiding and compacting stuff */

body > aside .compacter
{
    text-align: right;
    border-bottom: 1px solid $color-border-inverted-normal;
}

body > aside .compacter button
{
    padding: 0;
    height: 39px;
    width: 45px;
    background: $color-background-inverted-darker;
}

body > aside .compacter button:hover
{
    background: $color-background-inverted-normal;
}

body > aside .compacter i
{
    color: $color-highlight-normal;
    font-size: 20px;
}

/* compact sidebar stuff */
body.side-compact > aside
{
    width: 40px;
}

body.side-compact > aside .compacter button
{
    width: 40px;
}

.side-compact > main
{
    padding-left: 80px;
}

body.side-compact > aside nav li .name
{
    display: none;
}

body.side-compact > aside nav li .trigger .collapser,
body.side-compact > aside nav > ul > li.active > .trigger .collapser,
body.side-compact > aside nav li .trigger:hover .collapser,
body.side-compact > aside nav li .collapser button
{
    color: inherit;
}

body.side-compact > aside nav li .collapser button
{
    transform: scale(0.5, 0.5);
    position: relative;
    z-index: 1;
    left: 6px;
    top: 11px;
    width: 20px;
    height: 20px;
}



body.side-compact > aside nav > ul > li > .trigger > abbr
{
    display: inline-block;
    border: none;
    text-decoration: none;
}



body.side-compact > aside nav li .trigger
{
    padding-right: 20px;
}

body.side-compact > aside nav > ul > li.open > .trigger .name
{
    position: absolute;
    top: 0;
    left: 40px;
    height: 30px;
    width: 227px;
    padding: 9px 0 0 14px;
    display: block;
    background: $color-background-inverted-darkest;
}

body.side-compact > aside nav > ul > li.open > .trigger
{
    background-color: $color-background-inverted-darkest;
    color: $color-text-inverted-lightest;
}

body.side-compact > aside nav > ul > li.active > .trigger,
body.side-compact > aside nav > ul > li.active > .trigger .name
{
    background-color: $color-highlight-normal;
}

body.side-compact > aside nav > ul > li.open > ul
{
    position: absolute;
    top: 39px;
    left: 41px;
    width: 240px;
    display: block;
    background: $color-background-inverted-darkest;
}

body.side-compact > aside nav > ul > li > ul
{
    display: none;
}

body.side-compact > aside nav > ul > li.open > ul .name
{
    display: block;
}

body > .side-compact-overlay
{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: none;
}
