body > .skip-links
{
    position: absolute;
    top: -300px;
    width: 80%;
    left: 100px;
    z-index: 20;
    overflow: visible;
}

body > .skip-links a
{
    position: absolute;
    top: 0;
    z-index: 30;
}

body > .skip-links a:active,
body > .skip-links a:focus
{
    top:    320px;
    height: 1.6em;
}
