.table
{
    width: 100%;
    border-collapse: collapse;
    font-size: 13px;
    border: 1px solid $color-border-normal;
    border-top: none;
}

.table th,
.table td
{
    border-left: 1px solid $color-border-normal;
    border-right: 1px solid $color-border-normal;
}

/*
    remove outer table borders if the table is directly inside a section body
    because the body will have its own border
*/
section .body > .table
{
    border: none;
}

section .body > .table th:first-child,
section .body > .table td:first-child
{
    border-left: none;
}
section .body > .table th:last-child,
section .body > .table td:last-child
{
    border-right: none;
}


.table tr th
{
    text-align: center;
    font-weight: bold;
}

.table tr:nth-child(odd) td
{
    background-color: $color-background-normal;
}

.table tr:hover td
{
    background-color: $color-highlight-lightest;
}

.table td a:not(.button),
.table td > span
{
    text-decoration: none;
    color: $color-text-normal;
    display: inline-block;
    height: 100%;
    width: 100%;
}

.table th,
.table td:not(.toolbox-cell) a:not(.button),
.table td > span
{
    padding: 5px 6px;
}

.table th span
{
    display: block;
}

.table .toolbox-cell
{
    text-align: center;
    width: 46px;
}


