.toolbox .trigger
{
    display: inline-block;
    background: none;
    padding: 5px;
    color: $color-highlight-normal;
}

.toolbox .trigger:hover,
.toolbox .trigger:focus,
.toolbox .trigger:active
{
    background: none;
    color: $color-highlight-darker;
}

.toolbox .trigger[disabled]
{
    color: $color-text-lightest;
    background: none;
}

.toolbox-items
{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 170px;
    text-align: left;
    z-index: 100;
    margin: -3px 0 0 2px;
}

.toolbox-items > ul
{
    position: relative;
    top: -16px;
}

.toolbox-items li:not(:last-child) .button
{
    border-bottom: 1px solid $color-border-inverted-lighter;
}

.toolbox-items .button
{
    display: block;
    background: $color-background-inverted-normal;
    color: $color-highlight-normal;
    white-space: nowrap;

    width: 100%;
    text-align: left;
}

.toolbox-items .button.danger
{
    background: $color-background-inverted-normal;
    color: $color-alert;
}

.toolbox-items .button:hover
{
    background: $color-highlight-normal;
    color: $color-text-inverted-lightest;
}

.toolbox-items .button.danger:hover
{
    background: $color-alert;
}

.toolbox-overlay
{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 90;
    display: none;
}

