:ruby
  label_opts = get_template_label_options local_assigns, {
    :description  => t("field.Format %{_format}", :default => 'Format %{_format}', :_format => I18n.t("format.input.time", :default => 'hh:mm'))
  }
  input_attrs = get_template_input_attributes local_assigns, {
    :class => 'time_picker',
    :format => I18n.t("format.jquery.datepicker.time", :default => 'HH:mm'),
    :value => f.object.send(name).try(:strftime, I18n.t("format.datepicker.time", :default => '%H:%M'))
  }
  field_attrs = get_template_field_attributes local_assigns

.field.type_time{field_attrs}
  = render "edit.field_label", label_opts
  -# FIXME
  -# .value><= f.text_field name, l(f.object.send(name), :format => :time_picker), :class => 'time_picker', :format => I18n.t("format.jquery.datepicker.time", :default => 'HH:mm')
  .value><= f.text_field name, input_attrs

  = render "edit.field_errors", :f => f, :name => name
  .clear
