:ruby
  field_attrs                 = get_template_field_attributes local_assigns

  local_assigns[:label_opts]  = get_template_label_options    local_assigns
  local_assigns[:input_attrs] = get_template_input_attributes local_assigns

  local_assigns[:resource]    = @resource
  local_assigns[:field_type]  = 'text_field'
  
.field.type_link.i18n{field_attrs}
  = render :partial => 'edit.field_localization', :locals => local_assigns 