:ruby
  label_opts  = get_template_label_options    local_assigns, { :translation_name => name.sub(/_id$/, '').to_s }
  input_attrs = get_template_input_attributes local_assigns, { :include_blank => true }
  field_attrs = get_template_field_attributes local_assigns

  select_params = [name]

  if local_assigns.key? :select_options
    select_params.push select_options
  else
    collection = f.object.class.reflect_on_association(name.sub(/_id$/, '').to_sym).try(:klass).try(:all)
    select_params.push options_from_collection_for_select(collection, :id, resource_to_text_method(collection.first), f.object.send(name))
  end

  select_helper_options = local_assigns.fetch(:options, {})

  unless local_assigns.key? :include_blank
    include_blank = true
    f.object.class.validators_on(name).each do |validator|
      if validator.is_a? ActiveModel::Validations::PresenceValidator
        include_blank = f.object.new_record?
        break
      end
    end
  end

  select_helper_options.merge!({:include_blank => include_blank})

  select_params.push select_helper_options
  select_params.push input_attrs


.field.type_item{field_attrs}
  = render "edit.field_label", label_opts
  .value><= f.select *select_params
  .clear
