= form_for resource, :as => :resource, :url => url_for( :action => resource.new_record? ? 'create' : 'update', :id => resource.id ), :html => {:multipart => true, 'data-validation-url' => url_for( :action => resource.new_record? ? 'validate' : 'validate', :id => resource.id ) } do |f|
  #content
    .container-fluid
      = render "edit.header", :resource => resource
      = render "edit.body", :f => f
  = render "edit.footer", :resource => resource
