:ruby
  label_opts = {
    :f            => f,
    :name         => name
  }
  if local_assigns.key? :label_options
    raise RuntimeError, 'label_options must be of type Hash' unless label_options.is_a? Hash
    label_opts.merge!(label_options)
  end

.field.type_textarea{ 'data-name' => name }
  = render "edit.field_label", label_opts
  .value><= f.text_area name, :rows => 5, :cols => 75
  .clear
