:ruby
  label_opts = get_template_label_options local_assigns, {
    :description  => t("field.Format %{_format}", :default => "Format: %{_format}", :_format => I18n.t("format.input.date", :default => 'yyyy-mm-dd'))
  }
  input_attrs = get_template_input_attributes local_assigns, {
    :class => 'date_picker',
    :data => {
      :date_format => I18n.t("format.jquery.datepicker.date", :default => 'yy-mm-dd')
    }
  }
  field_attrs = get_template_field_attributes local_assigns

.field.type_date{field_attrs}
  = render "edit.field_label", label_opts
  -# FIXME
  -# .value><= f.text_field name, l(f.object.send(name), :format => :date_picker), :class => 'date_picker', :data => {:date_format => I18n.t("format.jquery.datepicker.date", :default => 'yy-mm-dd') }
  .value><= f.text_field name, input_attrs
  .clear
