:ruby
  label_opts = get_template_label_options local_assigns
  input_opts = get_template_input_options local_assigns, { :autocomplete => 'off' }

.field.type_text{ 'data-name' => name }
  = render "edit.field_label", label_opts
  .value><= f.password_field name, input_opts
  .clear
