%footer
  .tools
    .primary
      %button.button.primary{:type => "submit"}
        %i.icon-ok
        = t('save', :scope => "admin.global")
    .secondary
      %a.button{ :href => url_for( :action => 'index' ) }
        %i.icon-ban-circle
        = t('cancel', :scope => 'admin.global')
