.field.type_file{ 'data-name' => name }
  - field_name = name.sub(/_uid$/, '')

  .label_wrap><= f.label field_name, field_name.to_s.humanize + ':'
  .value><
    = f.file_field field_name
    - unless f.object.send(name).blank?
      = f.hidden_field "retained_#{field_name}"
      = link_to I18n.t("common.Download current"), f.object.send(field_name).url, :target => :_blank
  .clear
