:ruby
  translation_name = name unless local_assigns.key? :translation_name

- if local_assigns.key? :minimal
  = f.label name, t(translation_name, :scope => controller_scope_name)
- else
  .label_wrap><
    = f.label name, t(translation_name, :scope => controller_scope_name) + ':'
    - if local_assigns.key? :description
      .description= description

