= form_for item, :as => :item, :url => url_for( :action => item.new_record? ? 'create' : 'update', :id => item.id ), :validate => true, :class => "edit", :html => {:multipart => true} do |f|
  = render "edit.header", :f => f
  = render "edit.body", :f => f
  = render "edit.footer", :f => f
