.field.type_delete_nested
  = f.hidden_field :_destroy, :class => :destroy unless f.object.new_record?
  %button.remove-nested-item{:type => 'button', :title => t('remove', :scope => 'admin.global')}= image_tag("releaf/icons/delete.png", :alt => t('delete', :scope => 'admin.global'))
