:ruby
  label_opts  = get_template_label_options    local_assigns, { :translation_name => name.sub(/_html$/, '').to_s }
  input_attrs = get_template_input_attributes local_assigns, { :rows => 5, :cols => 50, :class => "richtext", :data => { :tinymce_attachment_upload_url => attachment_upload_url } }
  field_attrs = get_template_field_attributes local_assigns

.field.type_richtext{field_attrs}
  = render "edit.field_label", label_opts
  .value><= f.text_area name, input_attrs
  .clear
