.body.inset_box
  .section
    -#TODO: improve style/html
    -if f.object.errors.any?
      #error_explanation
        %strong= "#{pluralize(f.object.errors.count, "error")} prohibited this news from being saved:"
        %ul
          - f.object.errors.full_messages.each do |msg|
            %li= msg

    = render 'edit.fields', :f => f, :fields => @controller.columns( params[:action] ), :view_prefix => 'edit.field'
