:ruby
  label_opts  = get_template_label_options    local_assigns
  input_attrs = get_template_input_attributes local_assigns, {
    :class => 'datetime_picker',
    :data => {
      :date_format => I18n.t("format.jquery.datepicker.date", :default => 'yy-mm-dd'),
      :time_format => I18n.t("format.jquery.datepicker.time", :default => 'HH:mm:ss')
    },
    :value => f.object.send(name).try(:strftime, I18n.t("format.datepicker.datetime", :default => '%Y-%m-%d %H:%M'))
  }
  field_attrs = get_template_field_attributes local_assigns



.field.type_datetime{field_attrs}
  = render "edit.field_label", label_opts
  .value><= f.text_field name, input_attrs
  .clear
