<tr class="row" data-id="<%= resource.id %>">
  <% if @features[:index_row_toolbox] %>
  <td class="toolbox-cell">
    <%= render 'toolbox', :resource => resource %>
  </td>
  <% end %>
  <% fields_to_display.each do |name| %>
    <%= render cell_templates[name], resource: resource, name: name, index_url: index_url %>
  <% end %>
</tr>
