%footer
  .tools
    .primary
      %span.total
        = count \
        = t("resources_found", :scope => 'admin.global')
    .secondary
      - if @features[:create]
        %a.button.primary{ :href => url_for(:controller => controller.controller_name, :action => "new") }
          %i.icon-plus
          = t('create_new_item', :scope => 'admin.global')

