.row{ 'data-id' => item.id }
  - fields_to_display.each do |name|
    - if has_template? "_index.cell.#{name}"
      = render "index.cell.#{name}", :item => item, :name => name
    - else
      = render 'index.cell', :item => item, :name => name
