<tr class="row" data-id="<%= resource.id %>">
  <% if @features[:index_row_tools] %>
  <td class="tools">
    <div class="cell-wrap"><%# Extra wrapper needed for positioning in FF %>
    <button type="button">
      <i class="icon-large icon-cog"></i>
    </button>
    <div class="wrapper">
      <i class="icon-caret-up icon-large"></i>
      <ul class="block">
        <%= render :partial => "index.row.tools", :locals => {:resource => resource} %>
      </ul>
    </div>
    </div>
  </td>
  <% end %>
  <% fields_to_display.each do |name| %>
    <%= render cell_templates[name], :resource => resource, :name => name %>
  <% end %>
</tr>
