#footer
  .wrap
    .row-fuid
      .navbar.span12
        %ul.nav.footer-nav
          - if @features[:create]
            %li
              %a.btn.btn-large{:href => url_for(:controller => controller.controller_name, :action => "new")}
                %i.icon-plus
                = t('create_new_item', :scope => 'admin.global')

        %ul.nav.footer-nav.pull-right
          %li
            %span.total= count \
            = t("resources_found", :scope => 'admin.global')
