%form.search{:action => url_for( :controller => controller_name, :action => :index ), :title => "#{ resource_class.respond_to?( :filter ) ? '' : 'Add :filter scope to ' + resource_class.to_s + ' to enable searching' }"}
  .primary
    .wrapper
      %input{:name => "search", :type => "text", :value => params[:search], :autofocus => true, :disabled => !resource_class.respond_to?( :filter ) }
      %button{:type => "submit", :disabled => !resource_class.respond_to?( :filter )}>
        %i.icon-search
    .clear
  = render :partial => "index.search.extras"
