.inner.standard_submenu
  - if local_assigns.key?(:menu)
    %ul.block
      - menu.each_pair do |section_key, section|
        %li
          .section_title= t(section_key, :scope => "admin.base_menu")
          %ul
            - section.each do |resource|
              %li{:class => ("active" if resource[:controller] == controller.class.name.underscore.sub(/_controller$/, '')) }
                %a{:href => url_for(:controller => resource[:controller], :action => "index") }=t(resource[:controller], :scope => "admin.base_menu")
