.inner.standard_submenu
  - if local_assigns.key?(:menu)
    %ul.block
      - menu.each do |section|
        %li
          .section_title= t(section[:name], :scope => "admin.menu_items")
          %ul
            - section[:items].each do |resource|
              %li{:class => ("active" if resource[:active]) }
                %a{:href => resource[:url] }=t(resource[:name], :scope => "admin.menu_items")
