.field.no_label_wrap_padding.type_password{:'data-name' => name}
  .label_wrap
    .label= I18n.t(name.humanize, :scope => "models.#{item.class_name.underscore}") + ':'
  .value
    =I18n.t("Filtered")
