- m = name.sub(/_uid$/, '').to_s

.field.no_label_wrap_padding.type_image{:'data-name' => name}
  .label_wrap
    .label= t(m, :scope => controller_scope_name) + ':'
  .value
    = link_to t("download", :scope => "admin.global"), resource.send(m).url
    .preview
      = link_to image_tag(resource.send(m).thumb('x128').url, :alt => ''), resource.send(m).url, :target => :_blank, :data => { :lightbox => true }
  .clear
