- m = name.sub(/_uid$/, '').to_s

.field.no_label_wrap_padding.type_image{:'data-name' => name}
  .label_wrap
    .label= I18n.t(m.humanize, :scope => "models.#{item.class.name.underscore}") + ':'
  .value
    = link_to image_tag(item.send(m).thumb('x128').url), item.send(m).url, :target => :_blank, :data => { :lightbox => true }
    = link_to I18n.t("common.Download"), item.send(m).url
  .clear
