.field.no_label_wrap_padding.time_time{:'data-name' => name}
  .label_wrap
    .label= t(name, :scope => controller.controller_scope_name) + ':'
  .value
    - value = resource.send(name)
    -# FIXME
    = value
    -# = I18n.l(value, :format => 'time_picker')
  .clear
