.field.no_label_wrap_padding.type_textarea{:'data-name' => name}
  .label_wrap
    .label= I18n.t(name.humanize, :scope => controller.controller_scope_name) + ':'
  .value
    = resource.send(name)
  .clear
