.field.no_label_wrap_padding.type_url{:'data-name' => name}
  .label_wrap
    .label= t(name, :scope => controller_scope_name) + ':'
  .value
    - value = resource.send(name)
    = link_to value, value
  .clear
