:ruby
  field_attrs = get_template_field_attributes local_assigns

.field.no_label_wrap_padding.time_time{field_attrs}
  .label_wrap
    .label= t(name, :scope => controller_scope_name) + ':'
  .value
    = resource.send(name).try(:strftime, I18n.t("format.datepicker.time", :default => '%H:%M'))
    -# FIXME
    -# = I18n.l(value, :format => 'time_picker')
  .clear
