:ruby
  field_attrs = get_template_field_attributes local_assigns

  m = name.sub(/_id$/, '').to_s

.field.no_label_wrap_padding.type_item{field_attrs}
  .label_wrap
    .label= t(m, :scope => controller_scope_name) + ':'
  .value
    - if resource.class.reflect_on_association(m.to_sym)
      = resource_to_text(resource.send(m))
    - else
      = resource.send(name)
  .clear
