:ruby
  field_attrs = get_template_field_attributes local_assigns

.field.no_label_wrap_padding.type_email{field_attrs}
  .label_wrap
    .label= t(name, :scope => controller_scope_name) + ':'
  .value
    = mail_to resource.send(name)
  .clear
