.field.no_label_wrap_padding.type_email{:'data-name' => name}
  .label_wrap
    .label= I18n.t(name.humanize, :scope => "models.#{resource.class.name.underscore}") + ':'
  .value
    = mail_to resource.send(name)
  .clear
