.field.no_label_wrap_padding.type_link{:'data-name' => name}
  .label_wrap
    .label= t(name, :scope => controller.controller_scope_name) + ':'
  .value
    - value = resource.send(name)
    - if value =~ /\A\d+\z/
      - target = Releaf::Node.find_by_id(value)
      - if target
        = link_to resource_to_text(target), url_for(:action => :show, :id => value)
      - else
        = t("link_not_found", :scope => "admin.global")
    - else
      = link_to value, value
  .clear
