.field.no_label_wrap_padding.type_url{:'data-name' => name}
  .label_wrap
    .label= I18n.t(name.humanize, :scope => "models.#{item.class_name.underscore}") + ':'
  .value
    - value = item.send(name)
    = link_to value, value
