.field.no_label_wrap_padding.type_date{:'data-name' => name}
  .label_wrap
    .label= I18n.t(name.humanize, :scope => "models.#{item.class.name.underscore}") + ':'
  .value
    - value = item.send(name)
    -# FIXME
    = value
    -# = I18n.l(value, :format => 'date_picker')
  .clear
