:ruby
  field_attrs = get_template_field_attributes local_assigns

.field.no_label_wrap_padding.type_password{field_attrs}
  .label_wrap
    .label= I18n.t(name, :scope => controller_scope_name) + ':'
  .value
    =t("filtered", "admin.global")
  .clear
