.field.no_label_wrap_padding.type_richtext{:'data-name' => name}
  .label_wrap
    .label= I18n.t(name.humanize, :scope => "models.#{resource.class.name.underscore}") + ':'
  .value
    .raw_html= raw resource.send(name)
  .clear
