= render 'toolbox.extras', :resource => resource
- unless resource.new_record?
  - if @features[:destroy]
    %li
      %a.button.danger.ajaxbox{:href => url_for( :action => :confirm_destroy, :id => resource.id, :list_url => list_url), :data => {:modal => 1}}
        %i.icon-large.icon-trash
        = t('Delete', :scope => 'admin.global')
