:ruby
  if @resources.respond_to? "group_values" and @resources.group_values.length == 1
    count = @resources.except(:group).count(:distinct => @resources.group_values.first)
  else
    count = @resources.count
  end
= render 'index.header',  :resources => @resources
= render 'index.body',    :resources => @resources, :count => count
= render 'index.footer',  :resources => @resources, :count => count
