:ruby
= render 'index.header',  :resources => @collection
= render 'index.body',    :resources => @collection, :count => (@collection.total_entries if @collection.respond_to? :total_entries)
= render 'index.footer',  :resources => @collection
