:ruby
= render 'index.header',  :resources => @resources
= render 'index.body',    :resources => @resources, :count => (@resources.total_entries if @resources.respond_to? :total_entries)
= render 'index.footer',  :resources => @resources
