- unless @breadcrumbs.blank?
  %ul.block.breadcrumbs
    - @breadcrumbs.each_with_index do |item, i|
      %li
        - unless item[:url].blank?
          %a{:href => item[:url]}
            = item[:name]
        - else
          = item[:name]

        - unless i == @breadcrumbs.length-1
          %i.fa.fa-small.fa-chevron-right
