:ruby
  label_opts  = get_template_label_options    local_assigns, { :minimal => true }
  input_attrs = get_template_input_attributes local_assigns
  field_attrs = get_template_field_attributes local_assigns

.field.type_boolean{field_attrs}
  .value
    = f.check_box name, input_attrs
    = render "edit.field_label", label_opts
  .clear
