:ruby
  label_opts  = get_template_label_options    local_assigns
  input_attrs = get_template_input_attributes local_assigns, {
    value: f.object.send(name),
    class: 'datetime_picker',
    data: {
      date_format: jquery_date_format(I18n.t("date.formats.default"))
    },
    value: (I18n.l(f.object.send(name)) if f.object.send(name))
  }
  field_attrs = get_template_field_attributes local_assigns

.field.type_datetime{field_attrs}
  = render "edit.field_label", label_opts
  .value><= f.text_field name, input_attrs
  .clear
