= render partial: "breadcrumbs"
= render partial: "flash_notices"
%h2.header
  = resource.new_record? ? t('Create new resource', scope: 'admin.global') : resource_to_text(resource)
  - if @features[:toolbox]
    .toolbox-wrap
      = toolbox(resource, index_url: index_url)
