:ruby
  input_attrs = get_template_input_attributes local_assigns, name: "_destroy"

.remove-item-box
  = f.hidden_field "_destroy", :class => :destroy unless f.object.new_record?
  %button.button.danger.only-icon.remove-nested-item{input_attrs.merge(:type => 'button', :title => t('Remove item', :scope => 'admin.global'))}
    %i.fa.fa-lg.fa-trash-o
