:ruby
  label_opts  = get_template_label_options    local_assigns
  input_attrs = get_template_input_attributes local_assigns, { :autocomplete => 'off' }
  field_attrs = get_template_field_attributes local_assigns

.field.type_password{field_attrs}
  = render "edit.field_label", label_opts
  .value><= f.password_field name, input_attrs
  .clear
