%form.search{class: (!@searchable_fields.blank?) ? 'has-text-search' : '', action: url_for( controller: controller_name, action: "index" )}
  - if @searchable_fields.present?
    .text-search
      .wrapper
        %input{name: "search", type: "text", value: params[:search], autofocus: true }
        = releaf_button(nil, "search", type: "submit", title: t('Search', scope: 'admin.global'))
      .clear
  - if has_template? "_index.search.extras"
    .extras.clearInside
      = render partial: "index.search.extras"
      = releaf_button(t('Filter', scope: 'admin.global'), "search", type: "submit", title: t('Search', scope: 'admin.global'))
