- unless resource.new_record?
  .toolbox{data: {url: url_for(action: "toolbox", id: resource.id)}}
    %button.button.trigger.only-icon{type: 'button', title: t('Tools', scope: 'admin.global')}
      %i.fa.fa-lg.fa-cog
    %menu.block.toolbox-items{type: 'toolbar'}
      %i.fa.fa-lg.fa-caret-up
      %ul.block
