-
  field_name: seo_title
  field_type: string
  default: test
  apply_to: ['Text', 'HomeController']
  apply_to:
    - Text
    - HomeController
  deny_to:
    - Text
  levels: [1,2,3]

-
  field_name: seo_description
  field_type: text
  default: asdasdas
  apply_to:
