.field.type_select{ 'data-name' => name }
  .label_wrap><= f.label name, t(name, :scope => controller.controller_scope_name) + ':'
  .value><= f.select name, controller.available_admin_controllers
  .clear
