- Releaf.available_admin_controllers.each do |controller_name|
  :ruby
    if @resource.new_record?
      checked = false
    else
      checked = @resource.permissions.include?(controller_name)
    end
  .field.type_boolean{ 'data-name' => controller_name }
    .value
      = check_box_tag("resource[permissions][]", controller_name, checked, :id => controller_name.gsub('/', '_'))
      = label_tag(controller_name.gsub('/', '_'), t(controller_name, :scope => controller_scope_name))
    .clear
