:ruby
  text = resource.send(name)
  if text.to_s.empty?
    text = '-'
  else
    text = t(text.to_s.sub('_', '/'), :scope => 'admin.menu_items')
  end

%td
  %a.main{ :href => url_for( :action => :edit, :id => resource.id ) }
    %span= text
