.field.no_label_wrap_padding
  .label_wrap
    .label= t(name, :scope => controller_scope_name) + ':'
  .value
    = @resource.send("#{name}?") ? I18n.t("yes", :scope => 'admin.global') : I18n.t("no", :scope => 'admin.global')
  .clear
