- Releaf.available_admin_controllers.each do |controller_name|
  - permission = controller_name.gsub('/', '_')
  .field.no_label_wrap_padding
    .label_wrap
      .label Manage #{permission}:
    .value_wrap= @resource.send(:"#{permission}_permission")
