%footer
  .tools
    .primary
      - if @import
        - button_text =  t('Import', scope: controller_scope_name)
      - else
        - button_text =  t('Save', scope: "admin.global")
      = releaf_button(button_text, "check", type: "submit", title: t('Search', scope: 'admin.global'), class: "primary", data: {type: 'ok'})

    .secondary
      = releaf_button(t('Back to list', scope: 'admin.global'), "caret-left", class: "secondary", href: url_for( action: :index, search: params[:search]))
      - unless @import
        = releaf_button(t('Export', scope: controller_scope_name), "download", class: "secondary", href: url_for(action: :export, search: params[:search], format: :xlsx))
