.extras
  .secondary
    = releaf_button(t("export", scope: controller_scope_name), "download", class: "secondary", href: url_for(action: :export, search: params[:search], format: :xlsx))
    = releaf_button(t("import", scope: controller_scope_name), "upload", name: "import", class: "secondary")
  = render "import_form"
