%form.search.has-text-search{ action: url_for( controller: controller_name, action: "index" )}
  .text-search
    .wrapper
      .search-field-wrapper.search-only-bank
        = check_box_tag :only_blank, 'true', params['only_blank'] == 'true'
        = label_tag :only_blank, I18n.t("Only blank", scope: controller_scope_name)
      .search-field-wrapper.search-text
        %input{name: "search", type: "text", value: params[:search], autofocus: true }
        = releaf_button(nil, "search", type: "submit", title: t('Search', scope: 'admin.global'))
      .clear
    .clear
