@import 'releaf/environment';

.controller-releaf-i18n-database-translations
{
    &.view-index form.search .search-only-blank
    {
        float: left;
        margin-right: 20px;
        margin-top: 3px;
    }

    &.view-edit,
    &.view-import
    {
        section
        {
            padding: 0;

            form
            {
                &,
                > footer
                {
                    max-width: none;
                }

                > .body
                {
                    border: none;
                }
            }
        }

        .table
        {
            .code-header
            {
                width: 200px;
            }

            .delete-header
            {
                min-width: 20px;
                max-width: 20px;
                width: 20px;
            }

            td
            {
                padding: 0;
                border-style: solid;
                border-width: 1px;
                text-align: center;
                background-color: $color-background-lightest;
                border-color: $color-border-normal;

                &.translation-name
                {
                    background: $color-background-normal;
                }
            }

            input
            {
                border-width: 0;
                font-weight: normal;
                padding: 5px 3px;
                background: transparent none;
                width: 100%;

                &:focus
                {
                    border-width: 1px;
                    margin: -1px;
                }
            }

            .button.danger
            {
                background: inherit;
                color: inherit;
            }

            .changed input
            {
                background-color: $color-highlight-lighter;
                border-color: $color-highlight-normal;
            }

            .delete-column
            {
                border-right: none;
            }
        }

        .header
        {
            padding-top: 3px;
            padding-bottom: 3px;

            .value input
            {
                font-weight: normal;
            }
        }
    }
}
