/* header */
.controller-releaf-i18n-database-translations.view-edit .table .code-header
{
    width: 200px;
}
.controller-releaf-i18n-database-translations.view-edit .table .delete-header
{
    min-width: 20px;
    max-width: 20px;
    width: 20px;
}

/* body */
.controller-releaf-i18n-database-translations.view-edit .header
{
    padding-top: 3px;
    padding-bottom: 3px;
}
.controller-releaf-i18n-database-translations.view-edit .header .value input
{

    font-weight: normal;
}

.controller-releaf-i18n-database-translations.view-edit .table td
{
    padding: 0;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    background-color: white;
}
.controller-releaf-i18n-database-translations.view-edit .table td
{
    border-color: #DDDDDD;
}
.controller-releaf-i18n-database-translations.view-edit .table td.translation-name
{
    background: #f5f7f8;
}
.controller-releaf-i18n-database-translations.view-edit .table input
{
    border-width: 0;
    font-weight: normal;
    padding: 5px 3px;
    background: transparent none;
    width: 100%;
}

.controller-releaf-i18n-database-translations.view-edit .table .button.danger
{
    background: inherit;
    color: inherit;
}
.controller-releaf-i18n-database-translations.view-edit .table .changed input
{
    background-color: #7AD528;
    border-color: #C1AD2F;
}
.controller-releaf-i18n-database-translations.view-edit .table input:focus
{
    border-width: 1px;
    margin: -1px;
}
.controller-releaf-i18n-database-translations.view-edit .table .delete-column
{
    border-right: none;
}


.controller-releaf-i18n-database-translations.view-index form.search .search-field-wrapper
{
    float: left;
    margin-left: 20px;
}
.controller-releaf-i18n-database-translations.view-index form.search .search-only-bank
{
    margin-top: 3px;
}
