@import 'releaf/environment';

.controller-releaf-i18n-database-translations
{
    &.view-edit,
    &.view-import
    {
        section
        {
            padding: 0;

            form
            {
                &,
                > footer
                {
                    max-width: none;
                }

                > .body
                {
                    border: none;
                }
            }
        }

        .table
        {
            .code
            {
                width: steps(24);
            }

            td
            {
                padding: 0;
                background-color: $color-background-lightest;
                border: 1px solid $color-border-normal;

                &.translation-name
                {
                    background: $color-background-normal;

                    input.text
                    {
                        padding-left: steps(2);
                    }
                }
            }

            input.text
            {
                border-width: 0;
                font-weight: normal;
                background: transparent none;
                width: 100%;

                &:focus
                {
                    border-width: 1px;
                    margin-left: -1px;
                    margin-right: -1px;
                }
            }

            .button.danger:not(:hover)
            {
                background: inherit;
                color: inherit;
            }

            .changed input
            {
                background-color: $color-highlight-lighter;
                border-color: $color-highlight-normal;
            }

            .delete-column
            {
                border-right: none;
            }

            + .tools
            {
                margin-top: steps(2);
            }
        }

    }
}

.controller-releaf-i18n-database-translations.view-index form.import
{
  display: none;
}
