/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
 *= require ../controllers/admin/base.css 
*/

body
{
  background: #F4F9F2;
  padding: 0;
  margin: 0;
}
body
{
	font-size: 0.8em;
	background-color: #f2f1f1;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}
body,
a
{
	color: #494c48;
}

a img
{
	border:none;
}
.clear
{
	clear: both;
}
.clearInside:after
{
	content: '.';
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

iframe
{
	border:1px solid #CCCCCC;
}
a
{
	text-decoration:none;
}
a:hover
{
	color:#3366FF;
	text-decoration:underline;
}

form
{
	padding:0; 
	margin:0;
}

/* headers */
h1
{
	font-size:150%;
}
h2
{
	font-size:140%;
}
h3
{
	font-size:130%;
}
h4
{
	font-size:120%;
}
h5
{
	font-size:110%;
}
h6
{
	font-size:100%;
}
ul.block,
ol.block,
ul.block li,
ol.block li
{
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
}

/* TODO: move this elsewhere */
.special_field_wrap
{
	display: inline-block;
}
.special_field_wrap input
{
	padding-right: 22px;
	width: 231px;
}
.special_field_wrap button,
.special_field_wrap button.no_styling
{
	background: transparent none;
	border: 0;
	padding: 0;
	vertical-align: 12%;
	margin-left: -22px;
}




