/* panel layout */
.panel_layout
{
	position: absolute;
	top: 65px;
	bottom: 0;
	overflow: hidden;
	width: 100%;
}
/* TODO: fix these paddings */
.panel_layout .header .padding,
.panel_layout .header.padding,
.panel_layout .footer .padding,
.panel_layout .footer.padding
{
	padding: 5px 15px;
}
.panel_layout .primary_panel .footer .padding
{
	padding-bottom: 20px;
}

/* primary and secondary panel common features */
.panel_layout .primary_panel,
.panel_layout .secondary_panel
{
	height: 100%;
	overflow: auto;
	outline: none;
	position: relative;
}
.panel_layout .secondary_panel, 
.panel_layout .primary_panel, 
.panel_layout .secondary_panel a, 
.panel_layout .primary_panel a
{
	color: black;
}
.panel_layout .primary_panel .inner,
.panel_layout .secondary_panel .inner
{
	height: 100%;
}

/* header, body and footer */
.panel_layout .header, 
.panel_layout .body, 
.panel_layout .footer
{
	position: absolute;
	left: 0;
	right: 0;
	outline: none;
}

/* primary panel */
.panel_layout .primary_panel .header
{
	top: 0;
}
.panel_layout .primary_panel .header h2
{
	margin: 0;
	display: inline;
	text-shadow: 0px 1px 0px white;
}
.panel_layout .primary_panel .body
{
	overflow: auto;
	bottom: 49px;
	top: 32px;
	left: 10px;
	right: 10px;
	padding: 0;
}
.panel_layout .primary_panel .footer
{
	bottom: 0;
	height: 41px;
	overflow: hidden;
}
.panel_layout .primary_panel .footer.center
{
	text-align: center;
}

/* boxes */
.panel_layout .inset_box,
.panel_layout .outset_box
{
	border-width: 0px;
	border-style: solid;
	border-radius: 5px;
}
.panel_layout .outset_box
{
	padding: 15px 5px;
	background-color: white;
	border-color: #D0D0D0 #bfbfbf #a6a6a6 #bfbfbf;
	box-shadow: 0px 1px 2px rgba(0,0,0,.5), 0px -1px 0px rgba(0,0,0,.05);
}
.panel_layout .inset_box
{
	background-color: #e8e8e8;
	padding-top: 20px;
	border-color: #707070 #ABABAB #CECECE;
	padding-right: 2px;
	padding-left: 2px;
	box-shadow: 0px 1px 3px rgba(0,0,0,.5) inset;
}
.panel_layout .inset_box.no_shadow,
.panel_layout .outset_box.no_shadow
{
	box-shadow: none;
	border-width: 1px;
}

/* secondary panel */
.panel_layout .secondary_panel
{
	float: left;
	width: 20%;
	min-width: 200px;
	max-width: 400px;
	background: #d6d7da url("panel_layout/secondary_panel_vertical_bgr.png") repeat-y top left;
	line-height: 150%;
	soverflow: visible;
}
.panel_layout .secondary_panel .inner
{
	background: transparent url("panel_layout/secondary_panel_horizontal_bgr.png") repeat-x top left;
}
.panel_layout .secondary_panel .inner:before,
.panel_layout .secondary_panel .inner:after
{
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
}
.panel_layout .secondary_panel .inner:after
{
	height: 10px;
}
.panel_layout .secondary_panel .footer
{
	bottom: 0;
	height: 41px;
	overflow: hidden;
}
.panel_layout .secondary_panel .standard_submenu ul ul
{
	padding: 0;
}
.panel_layout .secondary_panel .standard_submenu .section_title
{
	margin-top: 10px;
	padding: 0 10px 0 15px;
	text-transform: uppercase;
	font-size: 85%;
	font-weight: bold;
	color: black;
	text-shadow: 0px 1px 0px #f0f0f0;
}
.panel_layout .secondary_panel .standard_submenu a
{
	color: inherit;
}
.panel_layout .secondary_panel .standard_submenu a,
.panel_layout .secondary_panel .standard_submenu li > span
{
	text-decoration: none;
	padding: 1px 7px 1px 23px;
	display: block;
	outline: none;
}
.panel_layout .secondary_panel .standard_submenu li.disabled
{
	background-color: transparent;
	color: #999999;
}
.panel_layout .secondary_panel .standard_submenu a:hover, 
.panel_layout .secondary_panel .standard_submenu .active a
{
	border-color: #a498b3;
	background: #7c8ea0 url("panel_layout/active_bgr.png") repeat-x top left;
	position: relative;
	z-index: 2;
	color: white;
}
.panel_layout .secondary_panel .standard_submenu a:hover, 
.panel_layout .secondary_panel .standard_submenu .active a:hover
{
	border-color: #a498b3;
	background-color: #a5b2bf;
}
.panel_layout .secondary_panel .standard_submenu .active a
{
	text-shadow: rgba(0, 0, 0, 0.4) 0 1px;
}
.panel_layout .secondary_panel .standard_submenu li li:hover a
{
	text-shadow: rgba(0, 0, 0, .6) 0 1px 7px;
}
.panel_layout .secondary_panel .standard_submenu .active a,
.panel_layout .secondary_panel .standard_submenu .active:hover a
{
	margin-bottom: -1px;
}
.panel_layout .secondary_panel .standard_submenu .active a
{
	padding-top: 0px;
	border-top: 1px solid #8595a5;
}
.panel_layout .secondary_panel .standard_submenu .active a,
.panel_layout .secondary_panel .standard_submenu .active:hover a
{
	border-bottom: 1px solid #e3e3e5;
}

/* badge */
.panel_layout .secondary_panel .standard_submenu .badge
{
    display: inline-block;
    padding: 1px 8px;
    line-height: 13px;
    border: 1px solid #900;
    font-weight: bold;
    font-size: 80%;
    opacity: 0.8;
    border-radius: 18px;
    background: #7C8EA0;
    color: #fff;  
    position: relative;
    top: -1px;
	margin-left: 1em;
}
.panel_layout .secondary_panel .standard_submenu .badge.warning
{
    background: #cc0033;    
    color: #fff;
}
.panel_layout .secondary_panel .standard_submenu .badge.ok
{
    background: #05B81d;
    border: 1px solid #080;    
}




