:ruby
  min_items_per_column = 4
  items_per_column = @content_types.length / 2

  if (items_per_column < min_items_per_column)
    items_per_column = min_items_per_column
  end

  content_types_slices = @content_types.each_slice( items_per_column )

.body.dialog.add-child-dialog{ :'data-columns' => content_types_slices.size }
  .header
    = t("add new node", :scope => controller_scope_name)
  .content.clearInside
    .description
      = t("select content type of new node", :scope => controller_scope_name)
    .content_types
      - content_types_slices.each do |slice|
        %ul.block
          - slice.each do |content_type|
            %li= link_to content_type, new_releaf_node_path(:parent_id => params[:parent_id], :content_type => content_type.name)
  .footer.clearInside
    - cancel_url = (@resource.parent_id.blank?) ? url_for( :action => 'index' ) : url_for( :action => 'edit', :id => @resource.parent_id )
    %a.button.secondary{ :data => {:type => 'cancel'}, :href => cancel_url }
      %i.fa.fa-ban
      %span= t('cancel', :scope => 'admin.global')

