%h2.header
  = t("all_title", :scope => 'admin.global')

- if collection.empty?
  %table.table
    %tr
      %th
        .nothing_found= t("nothing_found", :scope => "admin.global")
- else
  = render "index.table", :collection => collection, :count => count


