!!!
%html
  %head
    %title {#attachment_upload_dlg.title}
    = csrf_meta_tags

    = javascript_include_tag asset_path('tinymce/tiny_mce_popup.js')
    :javascript
      tinyMCEPopup.requireLangPack();

      function getFrameByName(name)
      {
        for (var i = 0; i < frames.length; i++)
          if (frames[i].name == name)
            return frames[i];

        return null;
      }

      function getMetaContents(mn)
      {
        var m = (window.opener || window.parent).document.getElementsByTagName('meta');

        for(var i in m)
          if(m[i].name == mn)
            return m[i].content;

        return null;
      }

      function uploadDone(name)
      {
        var frame = getFrameByName(name);
        if(frame) {
          ret = frame.document.getElementsByTagName("body")[0].innerHTML;

          if(ret.length) {
            tinyMCE.execCommand('mceInsertContent', false, ret);
            tinyMCEPopup.close();
          }
        }
      }

      var AttachmentUploadDialog = {

        init: function() {
          this.f = document.forms[0];
          this.f.action = tinyMCEPopup.getParam("attachment_upload_url", "/tinymce_assets_wtf");
          document.getElementById("hint").value = tinyMCEPopup.getParam("attachment_upload_hint", "");
          document.getElementById("authenticity_token").value = getMetaContents('csrf-token');
        },

        insert: function() {
          this.f.submit();
        }
      };

      tinyMCEPopup.onInit.add(AttachmentUploadDialog.init, AttachmentUploadDialog);

  %body

    %form( method="post" enctype='multipart/form-data' accept-charset="UTF-8" target="hidden_upload" action='#replaceme' name="attachment_uploadForm")
      %input#authenticity_token(type="hidden" name="authenticity_token" value="#replaceme")
      %input#hint(type="hidden" name="hint" value="#replaceme")
      %iframe#hidden_upload(name="hidden_upload" src='' onload='uploadDone("hidden_upload")' style='width:0;height:0;border:0px solid #fff')

      %h1 {#attachment_upload_dlg.header}
      %p
        {#attachment_upload_dlg.input}:
        %input.file_upload(type="file" name='file')

      .mceActionPanel
        %input( type="button" id="insert" name="insert" value="{#attachment_upload_dlg.insert}" onclick="AttachmentUploadDialog.insert();")
        %input(type="button" id="cancel" name="cancel" value="{#attachment_upload_dlg.cancel}" onclick="tinyMCEPopup.close();")
