.extras
  .secondary
    %a.button.secondary{href: url_for(action: :export, search: params[:search], format: :xlsx)}
      %i.fa.fa-download
      = t("export", scope: controller_scope_name)
    %button.button.secondary{type: :button, name: :import}
      %i.fa.fa-upload
      = t("import", scope: controller_scope_name)
  = render "import_form"
