<tr class="row" data-id="<%= resource.id %>">
  <td>
    <span>
      <%= resource.key %>
    </span>
  </td>

  <% locales.each do |locale| %>
    <td>
      <span>
        <%= localization(resource, locale) %>
      </span>
    </td>
  <% end %>
</tr>
