$color-background-lightest: #ffffff;


// dummy colors for debugging
// 2 sets of lighter and darker red / orange / yellow / green / blue / purple

$color-dummy-1:   #ff8080;
$color-dummy-2:   #fcd47e;
$color-dummy-3:   #ffffb2;
$color-dummy-4:   #80ff80;
$color-dummy-5:   #7eb7fc;
$color-dummy-6:   #ff80df;
$color-dummy-7:   #ff0000;
$color-dummy-8:   #fead00;
$color-dummy-9:   #ffff00;
$color-dummy-10:  #00ff00;
$color-dummy-11:  #0072fe;
$color-dummy-12:  #ff00c0;
