@mixin clear-inside
{
    &:after
    {
       content: " ";
       display: table;
       clear: both;
    }
}

@mixin unclear-inside
{
    &:after
    {
       content: none;
       display: none;
       clear: none;
    }
}

@mixin block-list
{
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;

    & > li
    {
        display: block;
        margin: 0;
        padding: 0;
    }

    & > li:before
    {
        content: "";
        display: none;
    }

}

@mixin full-screen-overlay
{
    // used for displaying a clickable closing layer over the whole page when opening a menu etc
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 90;
    display: none;
}


