- column_type = @item.class.columns_hash[ name ].type
- input_type = @controller.input_type_for( column_type, name )
- if !@controller.has_template( "_edit.field.type_#{input_type}" )
  - input_type = @controller.input_type_for( 'string', name )
= render "edit.field.type_#{input_type}", :name => name