.footer
  .padding
    .block.left_block
      %a.button{ :href => url_for( :action => 'index' ) }
        %img{ :src => '/assets/icons/arrow_left.png', :alt => '' }
        %span= t('back')
    -if @features[:edit]
      .block.center_block
        %a.button{ :href => url_for( :action => 'edit', :id => @item.id ) }
          %img{ :src => '/assets/icons/page_white_edit.png', :alt => '' }
          %span= t('edit')
    -if @features[:destroy]
      .block.right_block
        %a.button{ :href => url_for( :action => 'confirm_destroy', :id => @item.id ) }
          = image_tag('leaf_rails/icons/bin_empty.png', :alt => '')
          %span= t('destroy')
