<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>{{ page.site-title }} - {{ page.title }}</title>
    <link rel="stylesheet" href="/stylesheets/default.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/stylesheets/documentation.css" type="text/css" media="screen" />
  </head>
  <body>
   <a href="/">home</a>
    <menu>
      <ul>
        {% assign pages_list = site.pages | sort:"weight" %}
        {% assign group = "documentation" %}
        {% include documentation_list.html %}
      </ul>
    </menu>
      <div id="content">
        {{ content }}
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
