<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/default.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/home.css" type="text/css" media="screen" />
  </head>
  <body>
     <a href="{{ site.baseurl }}/documentation">documentation</a>
      <div id="content">
        {{ content }}
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
