@import 'releaf/environment';

.controller-releaf-content-nodes.view-index > main > section
{
    display: inline-block;
    min-width: 360px;
}

.controller-releaf-content-nodes .collection
{
    border-left:  1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    font-size: 13px;
}

.controller-releaf-content-nodes .collection li
{
    clear: both;
}
.controller-releaf-content-nodes .collection li ul
{
    clear: both;
}

.controller-releaf-content-nodes .collection .collapser-cell
{
    float: left;
}

.controller-releaf-content-nodes.view-index > main > section .collection .node-cell span
{
    margin-right: 50px;
}

.controller-releaf-content-nodes .collection .toolbox-cell
{
    border-left: 1px solid #d4d4d4;
    float: right;
    margin-left: -50px;
    margin-bottom: -1px;
}

.controller-releaf-content-nodes .collection .toolbox-cell .trigger,
.controller-releaf-content-nodes .collection .collapser-cell .button
{
    width:  30px;
    height: 30px;
    padding: 4px 5px;
    background: transparent;
}

.controller-releaf-content-nodes .collection .node-cell
{
    border-bottom: 1px solid #d4d4d4;
}
.controller-releaf-content-nodes .dialog .collection > ul li
{
    position: relative;
}

.controller-releaf-content-nodes .collection .node-cell button
{
    padding: 7px 10px;
    color: #1d1d1d;
    font-weight: bold;
    position: relative;
    width: 100%;
    text-align: left;
    z-index: 1;
}

.controller-releaf-content-nodes .dialog .collection .node-cell label,
.controller-releaf-content-nodes .collection .node-cell a
{
    display: block;
    color: #a6a6a6;
    text-decoration: none;
    padding: 5px 10px 5px 0;
    font-weight: bold;
    cursor: pointer;
}
.controller-releaf-content-nodes .dialog .collection .node-cell.active label,
.controller-releaf-content-nodes .collection .node-cell.active a
{
    color: #1a1a1a;
}

.controller-releaf-content-nodes .dialog .body .node-cell label.selected,
.controller-releaf-content-nodes .dialog .body .node-cell label:hover,
.controller-releaf-content-nodes .collection .node-cell button:hover,
.controller-releaf-content-nodes .collection .node-cell a:hover
{
    background: #ccebe9;
}

.controller-releaf-content-nodes .dialog .body .node-cell input[type="radio"]
{
    display: none;
}

.controller-releaf-content-nodes .dialog .body .node-cell label span,
.controller-releaf-content-nodes .collection .node-cell button span,
.controller-releaf-content-nodes .collection .node-cell a span
{
    position: relative;
    left: 7px
}

.controller-releaf-content-nodes main .collection li  ul ul
{
    background: #e6e6e6;
}

.controller-releaf-content-nodes .collection .collapser-cell
{
    border: 0;
    margin: 0;
    width: 25px;
}

.controller-releaf-content-nodes .collection .node-cell span
{
    margin-left: 0;
    display: inline-block;
    padding-right: 30px;
}

@mixin node-tree-nesting( $level )
{
    .controller-releaf-content-nodes .collection
    {
        li[data-level="#{$level}"]
        {
            & > .collapser-cell
            {
                $previous: $level - 1;
                position: absolute;
                left: #{$previous*25}px;
            }

            & > .node-cell span
            {
                margin-left: #{$level*25}px;
            }
        }
    }
}

@for $i from 1 through 10
{
    @include node-tree-nesting($i);
}


.controller-releaf-content-nodes .collection .collapsed ul
{
    display: none;
}

.controller-releaf-content-nodes .dialog.copy,
.controller-releaf-content-nodes .dialog.move,
.controller-releaf-content-nodes .dialog.go-to,
.controller-releaf-content-nodes .dialog.content-type
{
    width: 500px;
}
.controller-releaf-content-nodes .dialog.content-type[data-columns="1"]
{
    width: 280px;
}

.controller-releaf-content-nodes .dialog.content-type .body
{
    padding: 20px 40px;
    text-align: center;
}

.controller-releaf-content-nodes .dialog.content-type .body .description
{
    padding: 0 0 20px 0;
}


.controller-releaf-content-nodes .dialog.content-type .body ul
{
    width: 200px;
    margin-left: 20px;
    float: left;
}

.controller-releaf-content-nodes .dialog.goto .body,
.controller-releaf-content-nodes .dialog.copy .body
.controller-releaf-content-nodes .dialog.move .body
{
  height: 25em;
  overflow-y: auto;
}

.controller-releaf-content-nodes .dialog.content-type .body .content-types ul:first-child
{
    margin-left: 0;
}
.controller-releaf-content-nodes .dialog.content-type .body .content-types ul li
{
    margin-bottom: 0.5em;
}

.controller-releaf-content-nodes.view-edit .node-fields
{
    background: #f8f8f8;
}

.controller-releaf-content-nodes.view-edit .node-fields .field[data-name="template"] .value
{
    height: 35px;
    font-weight: bold;
}

.controller-releaf-content-nodes.view-edit .node-fields .field[data-name="slug"] .button.generate
{
    position: absolute;
    right: 1px;
    top: 1px;
    padding: 6px 11px;
    width: 38px;
    height: 33px;
}
.controller-releaf-content-nodes.view-edit .node-fields .field[data-name="slug"] input[type="text"]
{
    padding-right: 40px;
}
.controller-releaf-content-nodes.view-edit .node-fields .field[data-name="slug"] .link
{
    margin-top: 0.5em;
}
.controller-releaf-content-nodes.view-edit .node-fields .field[data-name="slug"] .link span
{
    color: #1D1D1D;
}

.controller-releaf-content-nodes.view-edit .node-fields .field[data-name="active"]
{
    min-height: initial;
    clear: both;
}
.controller-releaf-content-nodes.view-edit .node-fields .field[data-name="active"] .value
{
    padding-top: initial;
}
.controller-releaf-content-nodes.view-edit .node-fields hr
{
    clear: both;
    border: 1px solid #d4d4d4;
    margin: 7px 34px 7px 0px;
}

.controller-releaf-content-nodes.view-edit .content-fields
{
    border-top: none;
}

/*
 * TODO this style should be removed and applied automatically.
 * For this to work correclty styles in edit-view.css should be refactored.
 */
.controller-releaf-content-nodes .dialog.copy .form-error-box,
.controller-releaf-content-nodes .dialog.move .form-error-box
{
  border: 1px solid #D4D4D4;
  padding: 15px 25px;
  margin: 0px;
  color: #b94a48;
  background-color: #eed3d7;
  border-top: none;
  border-bottom: none;
}
