@import 'releaf/environment';

.controller-releaf-content-nodes
{
    .collection
    {
        border-left:  1px solid $color-border-normal;
        border-right: 1px solid $color-border-normal;

        ul
        {
            @include block-list;
        }

        .collapsed ul
        {
            display: none;
        }

        li
        {
            @include clear-inside;
        }

        .collapser-cell
        {
            float: left;
            border: 0;
            margin: 0;
            width: 25px;
        }

        .toolbox-cell
        {
            border-left: 1px solid $color-border-normal;
            float: right;
            margin-left: -50px;
            margin-bottom: -1px;
        }

        .collapser-cell,
        .toolbox-cell
        {
            .trigger
            {
                width:  30px;
                height: 30px;
                padding: 4px 5px;
                background: transparent;
            }
        }

        .node-cell
        {
            border-bottom: 1px solid $color-border-normal;

            .trigger
            {
                display: block;
                color: $color-text-lightest;
                text-decoration: none;
                padding: 5px 10px 5px 0;
                font-weight: bold;
                cursor: pointer;

                &.selected,
                &:hover
                {
                    background: $color-highlight-lightest;
                }

                span
                {
                    position: relative;
                    left: 7px
                }
            }

            &.active .trigger
            {
                color: $color-text-normal;
            }

            span
            {
                margin-left: 0;
                display: inline-block;
                padding-right: 30px;
            }

            input[type="radio"]
            {
                display: none;
            }

        }

        // nested item indentation
        @for $i from 1 through 10
        {
            li[data-level="#{$i}"]
            {
                & > .collapser-cell
                {
                    $previous: $i - 1;
                    position: absolute;
                    left: #{$previous*25}px;
                }

                & > .node-cell span
                {
                    margin-left: #{$i*25}px;
                }
            }
        }

    }

    main .collection li ul ul
    {
        background: $color-background-normal;
    }

    .dialog .collection > ul li
    {
        position: relative;
    }


    &.view-index > main > section
    {
        display: inline-block;
        min-width: 360px;

        .collection .node-cell span
        {
            margin-right: 50px;
        }
    }


    .dialog
    {
        width: 500px;

        &.content-type
        {
            &[data-columns="1"]
            {
                width: 280px;
            }

            .body
            {
                padding: 20px 40px;
                text-align: center;

                .description
                {
                    padding: 0 0 20px 0;
                }

                ul
                {
                    width: 200px;
                    margin-left: 20px;
                    float: left;
                }
            }

            .content-types
            {
                @include clear-inside;

                ul
                {
                    @include block-list;

                    li
                    {
                        margin-bottom: 0.5em;
                    }
                }
            }
        }

        &:not(.content-type)
        {
            .body
            {
                height: 25em;
                overflow-y: auto;
            }
        }
    }

    &.view-edit
    {
        .node-fields
        {
            @include clear-inside;

            background: $color-background-lighter;

            .field[data-name="template"] .value
            {
                height: 35px;
                font-weight: bold;
            }

            .field[data-name="slug"]
            {
                .button.generate
                {
                    position: absolute;
                    right: 1px;
                    top: 1px;
                    padding: 6px 11px;
                    width: 38px;
                    height: 33px;
                }

                input[type="text"]
                {
                    padding-right: 40px;
                }

                .link
                {
                    margin-top: 0.5em;
                    span
                    {
                        color: $color-text-normal;
                    }
                }
            }

            .field[data-name="active"]
            {
                min-height: initial;
                clear: both;

                .value
                {
                    padding-top: initial;
                }
            }

            hr
            {
                clear: both;
                border: 1px solid $color-border-normal;
                margin: 7px 34px 7px 0px;
            }
        }

        .content-fields
        {
            border-top: none;
        }
    }
}

